Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

fix(sentinel): improve S3 paraphrase test queries for consistent results
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
Owners: @credentum/platform-team

fix(sentinel): improve S3 paraphrase test queries for consistent results (#380)
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
Owners: @credentum/platform-team

fix(sentinel): correct S7 expected Python version to 3.11
  src/monitoring/sentinel/checks/s7_config_parity.py
Owners: @credentum/platform-team

fix(sentinel): correct S7 expected Python version to 3.11 (#381)
  src/monitoring/sentinel/checks/s7_config_parity.py
Owners: @credentum/platform-team

fix(sentinel): fix S6 backup validation false positives
  src/monitoring/sentinel/checks/s6_backup_restore.py
Owners: @credentum/platform-team

fix(sentinel): fix S6 backup validation false positives (#382)
  src/monitoring/sentinel/checks/s6_backup_restore.py
Owners: @credentum/platform-team

fix(sentinel): fix S5 auth anomaly false positive from 405 responses
  src/monitoring/sentinel/checks/s5_security_negatives.py
Owners: @credentum/platform-team

fix(sentinel): fix S5 auth anomaly false positive from 405 responses (#383)
  src/monitoring/sentinel/checks/s5_security_negatives.py
Owners: @credentum/platform-team

fix(deploy): force remove stale containers before deployment
  .github/workflows/deploy-dev.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(deploy): force remove stale containers before deployment (#384)
  .github/workflows/deploy-dev.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(docker): update node:20.18-slim image digest
  voice-bot/Dockerfile
Owners: @credentum/devops, @credentum/platform-team

fix(docker): update node:20.18-slim image digest (#385)
  voice-bot/Dockerfile
Owners: @credentum/devops, @credentum/platform-team

docs: add S3 semantic search investigation report
  docs/S3_SEMANTIC_SEARCH_INVESTIGATION.md
Owners: @credentum/docs-team

fix(deploy): add --force-recreate to ensure containers get fresh state
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): add --force-recreate to ensure containers get fresh state (#387)
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): make pre-deployment backup non-fatal
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): make pre-deployment backup non-fatal (#388)
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(sentinel): show retention policy violation details in S6 alert
  src/monitoring/sentinel/checks/s6_backup_restore.py
Owners: @credentum/platform-team

fix(sentinel): show retention policy violation details in S6 alert (#389)
  src/monitoring/sentinel/checks/s6_backup_restore.py
Owners: @credentum/platform-team

feat(sentinel): add per-check intervals to reduce system load
  src/monitoring/sentinel/runner.py
Owners: @credentum/platform-team

test(sentinel): add unit tests for per-check interval functionality
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/qa-team

feat(sentinel): add per-check intervals to reduce system load (#390)
  src/monitoring/sentinel/runner.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): check backup directory timestamps instead of file timestamps in S6
  src/monitoring/sentinel/checks/s6_backup_restore.py
  tests/monitoring/test_backup_restore.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): check backup directory timestamps instead of file timestamps in S6 (#391)
  src/monitoring/sentinel/checks/s6_backup_restore.py
  tests/monitoring/test_backup_restore.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): reduce alert verbosity and surface specific failure reasons
  src/monitoring/sentinel/checks/s7_config_parity.py
  src/monitoring/sentinel/telegram_alerter.py
Owners: @credentum/platform-team

fix(sentinel): reduce alert verbosity and surface specific failure reasons (#392)
  src/monitoring/sentinel/checks/s7_config_parity.py
  src/monitoring/sentinel/telegram_alerter.py
Owners: @credentum/platform-team

feat(search): implement S3-Paraphrase-Robustness 4-phase fix
  SEMANTIC_SEARCH_IMPROVEMENT_PLAN.md
  src/core/config.py
  src/core/feature_gates.py
  src/core/mqe_wrapper.py
  src/core/query_normalizer.py
  src/core/retrieval_core.py
  src/core/semantic_cache.py
  src/mcp_server/main.py
  src/storage/query_expansion.py
  tests/test_mqe_integration.py
  tests/test_query_normalizer.py
  tests/test_search_enhancements_integration.py
  tests/test_semantic_cache.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat(search): implement S3-Paraphrase-Robustness 4-phase fix (#393)
  SEMANTIC_SEARCH_IMPROVEMENT_PLAN.md
  src/core/config.py
  src/core/feature_gates.py
  src/core/mqe_wrapper.py
  src/core/query_normalizer.py
  src/core/retrieval_core.py
  src/core/semantic_cache.py
  src/mcp_server/main.py
  src/storage/query_expansion.py
  tests/test_mqe_integration.py
  tests/test_query_normalizer.py
  tests/test_search_enhancements_integration.py
  tests/test_semantic_cache.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat(search): enable semantic search features at 100%
  src/core/feature_gates.py
Owners: @credentum/platform-team

feat(search): enable semantic search features at 100% (#394)
  src/core/feature_gates.py
Owners: @credentum/platform-team

fix(deploy): improve backup script container detection
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

fix(deploy): validate all secrets required for fast deployment
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): improve backup script container detection (#395)
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

fix(deploy): validate all secrets required for fast deployment (#396)
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

feat(search): implement HyDE for improved paraphrase robustness
  src/backends/vector_backend.py
  src/core/feature_gates.py
  src/core/hyde_generator.py
  src/core/query_dispatcher.py
  src/core/retrieval_core.py
  tests/test_hyde_generator.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(sentinel): optimize check frequencies with CI/CD-only mode
  .env.sentinel.template
  .github/workflows/sentinel-comprehensive-tests.yml
  src/monitoring/sentinel/models.py
  src/monitoring/sentinel/runner.py
  tests/monitoring/sentinel/test_models.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team, @credentum/qa-team

test: add comprehensive tests for HyDE and search_by_embedding
  src/core/hyde_generator.py
  src/interfaces/backend_interface.py
  tests/backends/test_query_dispatcher.py
  tests/backends/test_vector_backend.py
  tests/test_hyde_integration.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(search): implement HyDE for improved paraphrase robustness (#397)
  src/backends/vector_backend.py
  src/core/feature_gates.py
  src/core/hyde_generator.py
  src/core/query_dispatcher.py
  src/core/retrieval_core.py
  src/interfaces/backend_interface.py
  tests/backends/test_query_dispatcher.py
  tests/backends/test_vector_backend.py
  tests/test_hyde_generator.py
  tests/test_hyde_integration.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): add cleanup to S2 golden fact recall to prevent database bloat
  scripts/sentinel/cleanup-sentinel-test-data.py
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  tests/monitoring/test_s2_golden_fact_recall.py
Owners: @credentum/platform-team, @credentum/qa-team

security: add input validation to prevent Cypher injection
  scripts/sentinel/cleanup-sentinel-test-data.py
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  tests/monitoring/test_s2_golden_fact_recall.py
Owners: @credentum/platform-team, @credentum/qa-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
