Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

chore: sync from agent-context-template
  src/mcp_server/server.py
  src/mcp_server/simple_server.py
Owners: @credentum/platform-team

chore: sync from agent-context-template
  src/mcp_server/server.py
  src/mcp_server/simple_server.py
Owners: @credentum/platform-team

chore: sync from agent-context-template
  src/mcp_server/server.py
  src/mcp_server/simple_server.py
Owners: @credentum/platform-team

chore: sync from agent-context-template
  src/mcp_server/server.py
  src/mcp_server/simple_server.py
Owners: @credentum/platform-team

chore: sync from agent-context-template
  src/mcp_server/server.py
  src/mcp_server/simple_server.py
Owners: @credentum/platform-team

chore: sync from agent-context-template
  src/mcp_server/server.py
  src/mcp_server/simple_server.py
Owners: @credentum/platform-team

chore: sync from agent-context-template
  src/mcp_server/server.py
  src/mcp_server/simple_server.py
Owners: @credentum/platform-team

chore: sync from agent-context-template
  src/mcp_server/server.py
  src/mcp_server/simple_server.py
Owners: @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

chore: sync from agent-context-template
  Dockerfile
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .ctxrc.docker.yaml
  Dockerfile
Owners: @credentum/platform-team, @credentum/devops

chore: sync from agent-context-template
  ops/smoke/smoke_runner.py
  scripts/deploy-environment.sh
Owners: @credentum/qa-team, @credentum/devops, @credentum/platform-lead

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
  scripts/deploy-environment.sh
  scripts/deployment-report.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
  ops/smoke/smoke_runner.py
  scripts/deploy-environment.sh
  scripts/deployment-report.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team, @credentum/platform-lead

chore: sync from agent-context-template
  src/security/audit.py
  src/security/network.py
  src/security/waf.py
Owners: @credentum/platform-team

fix: Resolve deployment container cleanup race condition
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
  src/auth/rbac.py
  src/auth/token_validator.py
  src/mcp_server/server.py
  src/security/compliance_reporter.py
  src/security/cypher_validator.py
  src/security/waf.py
  tests/security/test_rbac.py
  tests/security/test_synthetic_abuse.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/security-team, @credentum/platform-lead, @credentum/qa-team

chore: sync from agent-context-template
  src/security/waf.py
  tests/security/test_synthetic_abuse.py
Owners: @credentum/platform-team, @credentum/qa-team

chore: sync from agent-context-template
  src/auth/rbac.py
  tests/security/test_synthetic_abuse.py
Owners: @credentum/platform-team, @credentum/qa-team

chore: sync from agent-context-template
  DEPLOYMENT_TO_VERIS_MEMORY.md
  SECURITY_TEST_RECOVERY_GUIDE.md
  debug_waf_rules.py
  fix_hanging_tests.sh
  recovery_report_1755123501.txt
  security_recovery.py
  test_command_injection_final.py
  test_cypher_final.py
  test_owasp_final_coverage.py
  test_resilient_security.py
  tests/security/tests/security/test_synthetic_abuse.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

chore: sync from agent-context-template
  fix_hanging_blacklist_test.py
  tests/security/test_synthetic_abuse.py
Owners: @credentum/platform-team, @credentum/qa-team

chore: sync from agent-context-template
  fix_all_hanging_sleeps.py
  fix_tests_run_automatically.py
  tests/security/test_synthetic_abuse.py
Owners: @credentum/platform-team, @credentum/qa-team

chore: sync from agent-context-template
  src/auth/rbac.py
  src/auth/token_validator.py
  src/security/port_filter.py
  tests/security/test_synthetic_abuse.py
Owners: @credentum/platform-team, @credentum/security-team, @credentum/platform-lead, @credentum/qa-team

fix: resolve critical MCP tool implementation bugs
  BUGFIX_IMPLEMENTATION.py
  BUG_INVESTIGATION_REPORT.md
  SPRINT_BUGFIX_PLAN.md
  src/mcp_server/main.py
Owners: @credentum/platform-team, @credentum/docs-team

fix: address code review feedback and add comprehensive testing
  coverage.json
  src/mcp_server/main.py
  tests/integration/test_new_endpoints.py
  tests/unit/test_new_request_models.py
  tests/unit/test_request_models_simple.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: use correct Dockerfile in test composition
  docker-compose.test.yml
Owners: @credentum/devops, @credentum/platform-team

fix: complete smoke test infrastructure fixes
  .github/workflows/parity-verification.yml
  docker-compose.test.yml
Owners: @credentum/devops, @credentum/platform-team

fix: complete quality improvements and compliance fixes
  Dockerfile
  context/mcp_contracts/get_agent_state_tool.json
  context/mcp_contracts/update_scratchpad_tool.json
  src/mcp_server/main.py
  tests/unit/__init__.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix: separate Docker build steps to preserve Python packages
  Dockerfile
Owners: @credentum/devops, @credentum/platform-team

feat: implement production-grade security and MCP validation
  src/core/error_handler.py
  src/core/mcp_validation.py
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix: update deploy-dev workflow path filters and directory references
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: update deploy-dev workflow path filters and directory references (#14)
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: convert Dockerfile to single-stage build to resolve deployment failure
  Dockerfile
Owners: @credentum/devops, @credentum/platform-team

🔧 Fix: Convert Dockerfile to single-stage build to resolve deployment failure (#15)
  Dockerfile
Owners: @credentum/devops, @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
