Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team

fix: Change LiveKit healthcheck to use port check instead of wget
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: make LiveKit Cloud/local deployment flexible
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

feat: add custom LiveKit Dockerfile with curl for healthchecks
  docker-compose.yml
  dockerfiles/Dockerfile.livekit
Owners: @credentum/devops, @credentum/platform-team

fix: update voice-bot to use livekit-api 1.0.7+ API pattern
  docker-compose.yml
  voice-bot/app/voice_handler.py
  voice-bot/tests/test_voice_handler.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix: quote LIVEKIT_KEYS to prevent YAML parsing error
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

hotfix: quote LIVEKIT_KEYS to prevent YAML parsing error
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

hotfix: disable TURN to fix livekit-server restart loop
  docker-compose.yml
  docker/livekit/config.yaml
Owners: @credentum/devops, @credentum/platform-team

fix: correct LiveKit TURN port configuration
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

feat(firewall): Add port 8002 for voice-bot external access
  scripts/setup-firewall.sh
  scripts/update-firewall-rules.sh
Owners: @credentum/devops, @credentum/senior-engineers

fix(embeddings): Resolve config path and provider issues causing embedding failures
  config/.ctxrc.yaml
  src/mcp_server/main.py
Owners: @credentum/senior-engineers, @credentum/platform-team

fix(sentinel): Add API authentication for Sentinel monitoring
  .github/workflows/deploy-dev.yml
  docker-compose.sentinel.yml
  scripts/deploy-dev.sh
  src/monitoring/sentinel/base_check.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

feat(deploy): Add automatic firewall configuration during deployment
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

fix(embeddings): Add config loading and comprehensive logging to EmbeddingService
  src/embedding/service.py
Owners: @credentum/platform-team

fix(sentinel): Extract key portion from API key format to match context-store
  src/monitoring/sentinel/base_check.py
Owners: @credentum/platform-team

hotfix(sentinel): CRITICAL - Extract key portion from API key to fix HTTP 401
  src/monitoring/sentinel/base_check.py
Owners: @credentum/platform-team

refactor(embeddings): Address code review - improve exception handling, model matching, and add tests
  src/embedding/service.py
  tests/test_embedding_config_loading.py
Owners: @credentum/platform-team, @credentum/qa-team

refactor(sentinel): Add test coverage and improve code quality for API key extraction
  src/monitoring/sentinel/base_check.py
  tests/monitoring/sentinel/test_base_check.py
Owners: @credentum/platform-team, @credentum/qa-team

test: Fix missing import in test suite
  tests/test_embedding_config_loading.py
Owners: @credentum/qa-team

feat(sentinel): Add missing API endpoints for Sentinel monitoring (Phase 2)
  src/mcp_server/main.py
Owners: @credentum/platform-team

refactor(embeddings): Fix import issues and code quality
  src/embedding/service.py
Owners: @credentum/platform-team

feat(voice-bot): Add mobile-friendly web UI for iPhone testing
  voice-bot/app/main.py
  voice-bot/app/static/index.html
Owners: @credentum/platform-team

fix: Address code review issues - test coverage and security
  voice-bot/app/static/index.html
  voice-bot/tests/test_main.py
Owners: @credentum/platform-team, @credentum/qa-team

docs: Add lessons learned from PR #200 test coverage gap analysis
  LESSONS_LEARNED_PR200_TEST_COVERAGE_GAP.md
Owners: @credentum/docs-team, @credentum/platform-team

fix: address blocking issues in Phase 2 monitoring endpoints
  src/mcp_server/main.py
  tests/api/test_monitoring_endpoints.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Address code review - SRI hashes, type hints, error handling
  voice-bot/app/main.py
  voice-bot/app/static/index.html
Owners: @credentum/platform-team

fix: resolve blocking and warning issues in Phase 2
  src/mcp_server/main.py
  tests/api/test_monitoring_endpoints.py
  tests/test_neo4j_client_business_logic.py
Owners: @credentum/platform-team, @credentum/qa-team

test: Fix embedding service initialization test failures
  tests/test_embedding_service.py
Owners: @credentum/qa-team

fix: Correct LiveKit global variable name in voice-bot UI
  voice-bot/app/static/index.html
Owners: @credentum/platform-team

fix: improve test discovery and add security warnings
  src/mcp_server/main.py
  tests/api/test_monitoring_endpoints.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Critical LiveKit SDK loading issue and add debugging
  voice-bot/app/static/index.html
Owners: @credentum/platform-team

feat: Phase 3 & 4 - Fix Sentinel hostname and update expected versions
  src/monitoring/sentinel/checks/s7_config_parity.py
  src/monitoring/sentinel/models.py
Owners: @credentum/platform-team

fix: Use correct LivekitClient global variable name
  voice-bot/app/static/index.html
Owners: @credentum/platform-team

fix: Add HTTPS requirement detection and clear error messages
  voice-bot/app/static/index.html
Owners: @credentum/platform-team

feat: Add HTTPS/SSL support for voice-bot with self-signed certificates
  docker-compose.voice.yml
  voice-bot/.gitignore
  voice-bot/Dockerfile
  voice-bot/app/config.py
  voice-bot/app/main.py
  voice-bot/scripts/start.sh
Owners: @credentum/devops, @credentum/platform-team

fix: Correct metadata filtering to access payload.metadata
  src/mcp_server/server.py
  tests/test_phase2_fixes.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Automate Neo4j schema initialization to resolve 29.3% error rate
  .github/workflows/deploy-dev.yml
  deployments/neo4j-init/001-init-schema.cypher
  deployments/neo4j-init/README.md
  docker-compose.yml
  scripts/deploy-dev.sh
  scripts/init-neo4j-schema.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/platform-lead, @credentum/senior-engineers

fix: Resolve all Phase 3 & 4 test coverage and config issues
  src/monitoring/sentinel/checks/s7_config_parity.py
  src/monitoring/sentinel/models.py
  src/monitoring/sentinel_migration.py
  src/monitoring/veris_sentinel.py
  tests/integration/test_sentinel_integration.py
  tests/monitoring/sentinel/test_models.py
  tests/monitoring/test_veris_sentinel.py
  tools/test_sentinel_startup.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Add comprehensive test coverage and security improvements for Neo4j schema initialization
  deployments/neo4j-init/README.md
  scripts/deploy-dev.sh
  scripts/init-neo4j-schema.sh
  scripts/init_neo4j_schema.py
  tests/deployments/__init__.py
  tests/deployments/test_neo4j_schema.py
  tests/scripts/__init__.py
  tests/scripts/test_deploy_dev_schema_init.py
  tests/scripts/test_init_neo4j_schema.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops, @credentum/platform-lead, @credentum/senior-engineers, @credentum/qa-team

feat: Add automated SSL certificate generation to deployment
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead
