Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team

hotfix: correct backend import statements in API service (#106)
  src/api/main.py
Owners: @credentum/platform-team

CRITICAL: Deploy missing mock backends fix for API service
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

🚨 ULTRA-CRITICAL: Deploy Missing Mock Backends Fix - Unblock 99% Error Fix (#107)
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

feat: Complete Phase 2 - Unified real backend configuration for API service
  docker-compose.yml
  src/api/main.py
Owners: @credentum/devops, @credentum/platform-team

🚀 Phase 2: Complete Backend Unification - Deploy Real Backend Configuration (#108)
  src/api/main.py
Owners: @credentum/platform-team

feat: Comprehensive security hardening for Phase 3 automation
  .github/workflows/sentinel-alert-response.yml
  docs/SECURITY_DOCUMENTATION.md
  scripts/sentinel/automated-debugging-workflows.py
  scripts/sentinel/claude-code-launcher.py
  scripts/sentinel/input_validator.py
  scripts/sentinel/intelligent-fix-generator.py
  scripts/sentinel/session_rate_limiter.py
  scripts/sentinel/ssh_security_manager.py
  scripts/sentinel/test_phase3_components.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

fix: resolve Neo4j backup cypher-shell and graceful stop issues
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

🛠️ Fix Neo4j Backup Issues: HTTP API + Enhanced Consistency (#109)
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

fix: resolve Neo4j backup failures during deployment
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

Fix Neo4j backup failures during deployment (#110)
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

enhance: improve Neo4j readiness detection with better diagnostics
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

feat: Comprehensive security hardening for Phase 3 automation
  .github/workflows/sentinel-alert-response.yml
  TEST_COVERAGE_REPORT.md
  scripts/sentinel/claude-code-launcher.py
  scripts/sentinel/quick_test.py
  scripts/sentinel/run_tests.py
  scripts/sentinel/session_rate_limiter.py
  scripts/sentinel/ssh_security_manager.py
  scripts/sentinel/test_phase3_components.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

Enhance Neo4j readiness detection and fix backup timeout issues (#111)
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

optimize: enhance APOC detection and remove problematic online dump
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

Final Neo4j backup optimization with APOC timing and enhanced diagnostics (#112)
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

feat: Comprehensive code quality and security improvements
  context/mcp_contracts/claude_code_integration_tool.json
  context/mcp_contracts/webhook_alerting_tool.json
  scripts/sentinel/automated-debugging-workflows.py
  scripts/sentinel/claude-code-launcher.py
  scripts/sentinel/session_rate_limiter.py
  scripts/sentinel/ssh_security_manager.py
  scripts/sentinel/test_enhanced_security.py
Owners: @credentum/platform-team

feat: implement comprehensive backup reliability solution
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

🛡️ CRITICAL: Fix backup reliability and file persistence issues (#113)
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

feat: implement BULLETPROOF backup solution - guaranteed robustness
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

feat: comprehensive security and code quality improvements for Phase 3 automation
  context/mcp_contracts/claude_code_integration_tool.json
  scripts/sentinel/advanced-diagnostics/dependency_mapper.py
  scripts/sentinel/advanced-diagnostics/health_analyzer.py
  scripts/sentinel/advanced-diagnostics/metrics_collector.py
  scripts/sentinel/automated-debugging-workflows.py
  scripts/sentinel/claude-code-launcher.py
  scripts/sentinel/input_validator.py
  scripts/sentinel/intelligent-fix-generator.py
  scripts/sentinel/sentinel-main.py
  scripts/sentinel/ssh_security_manager.py
  tests/monitoring/sentinel/test_alert_manager.py
  tests/monitoring/sentinel/test_webhook_alerter.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Dynamic Neo4j data path detection for backup/restore
  scripts/backup-restore-integration.sh
  scripts/investigate-neo4j-backup.sh
Owners: @credentum/devops, @credentum/senior-engineers

🚨 CRITICAL: Fix 98.8% API failure rate - Enable real backends
  PR83_INVESTIGATION_REPORT.md
  docker-compose.yml
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops

fix: graceful API startup without requiring all backends
  src/api/main.py
Owners: @credentum/platform-team

Remove USE_MOCK_BACKENDS completely to prevent deployment failures
  docker-compose.yml
  dockerfiles/Dockerfile.api
  scripts/deploy-to-hetzner.sh
  scripts/validate-deployment.sh
  src/api/main.py
  src/storage/mock_backends.py
  tools/benchmarks/performance_suite.py
  tools/cli/query_simulator.py
  tools/cli/testing_tools.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/senior-engineers

fix: Extend API container health check timeout to resolve startup failures
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

🚨 CRITICAL: Fix IndentationErrors preventing API container startup
  src/api/main.py
Owners: @credentum/platform-team

feat: Add comprehensive error reporting to API container startup
  dockerfiles/Dockerfile.api
  dockerfiles/Dockerfile.api.debug
  scripts/api-debug-wrapper.sh
  scripts/api-startup.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers

🚨 CRITICAL FIX: Add robust fallback to API container startup
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

🔍 Add comprehensive debugging to deployment workflow
  .github/workflows/deploy-dev.yml
  scripts/debug-container.sh
  scripts/deploy-with-debug.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead

fix: Fix YAML syntax error in deploy-dev.yml workflow
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

🚨 HOTFIX: Force API rebuild and simplify startup
  .github/workflows/deploy-dev.yml
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: wrap storage clients in proper Backend classes that implement BackendSearchInterface
  src/api/main.py
Owners: @credentum/platform-team

Fix all MCP API limitations and bugs from GitHub issue #127
  GITHUB_ISSUE_127_FIXES.md
  src/mcp_server/query_relevance_scorer.py
  src/mcp_server/server.py
  src/monitoring/dashboard.py
  tests/test_new_delete_and_list_tools.py
  tests/test_phase2_fixes.py
  tests/test_phase3_enhancements.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

Refine query relevance scoring algorithm and validation
  POST_MERGE_VALIDATION.md
  src/mcp_server/query_relevance_scorer.py
  tests/test_phase3_enhancements.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat: Sprint 11 - Veris-Memory Cleanup & Interface Tightening — Greenfield Verification
  contracts/mcp_contracts/fact_storage_tools.json
  contracts/mcp_contracts/monitoring_tools.json
  contracts/mcp_contracts/sentinel_api_tools.json
  docs/ERROR_CODES.md
  docs/api/veris-memory-v1.0.yaml
  src/api/routes/admin.py
  src/api/routes/health_check.py
  src/core/config.py
  src/core/embedding_config.py
  src/core/error_codes.py
  src/core/error_handler.py
  src/core/rate_limiter_enhanced.py
  src/health/endpoints.py
  src/mcp_server/server.py
  src/mcp_server/v1_spec.py
  src/monitoring/metrics_dashboard.py
  src/security/payload_validator.py
  src/storage/circuit_breaker.py
  src/storage/qdrant_client.py
  src/storage/qdrant_index_config.py
  tests/backup/test_backup_restore_drill.py
  tests/e2e/test_code_search_golden_path.py
  tests/e2e/test_fact_recall_golden_path.py
  tests/e2e/test_multi_chunk_narrative.py
  tests/monitoring/test_metrics_dashboard.py
  tests/resilience/test_mcp_outage_failclosed.py
  tests/resilience/test_rate_limit_circuit_breaker.py
  tests/security/test_payload_validation.py
  tests/storage/test_index_config.py
  tests/verification/test_migration_idempotent.py
  tools/backup_restore_system.py
  tools/migration_checksum.py
  tools/migration_runner.py
Owners: @credentum/platform-team, @credentum/docs-team, @credentum/senior-engineers, @credentum/sre, @credentum/qa-team

hotfix: Fix Sprint 11 dimension migration issues
  src/core/embedding_config.py
  src/embedding/service.py
  tests/test_embedding_service.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Update remaining test assertions for 384-dimension compliance
  src/core/embedding_config.py
  tests/test_embedding_service.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: add containerized CI environment for faster workflow execution
  .github/workflows/build-ci-container.yml
  .github/workflows/claude-code-review.yml
  dockerfiles/CI_CONTAINER_README.md
  dockerfiles/Dockerfile.ci
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

fix: correct Docker tag generation and use amd64-only platform
  .github/workflows/build-ci-container.yml
Owners: @credentum/devops, @credentum/platform-team

fix: temporarily revert to manual setup until container is on main
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team
