Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

fix: REST to MCP content format conversion (resolves 422 errors)
  src/mcp_server/rest_compatibility.py
  tests/mcp_server/test_rest_compatibility.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Use valid MCP types in S9 and S10 Sentinel checks
  SENTINEL_DEPLOYMENT_ANALYSIS.md
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/docs-team, @credentum/platform-team

fix(storage): Fix RedisConnector password parsing from REDIS_URL
  src/core/utils.py
  src/storage/kv_store.py
Owners: @credentum/platform-team

test: Add comprehensive MCP type validation tests and improve docs
  SENTINEL_DEPLOYMENT_ANALYSIS.md
  src/monitoring/sentinel/checks/s9_graph_intent.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

chore: Upgrade Sentinel to Debian 12, fix voice-bot config, update CVE scan
  .github/workflows/cve-scan.yml
  docker-compose.debug.yml
  docker-compose.dev.yml
  docker-compose.hetzner.yml
  docker-compose.prod.yml
  docker-compose.secure.yml
  docker-compose.simple.yml
  docker-compose.test.yml
  docker-compose.voice.yml
  docker-compose.yml
  dockerfiles/Dockerfile.sentinel
Owners: @credentum/devops, @credentum/platform-team

fix: S10 uses wrong field name 'context_type' instead of 'content_type'
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Automated configuration for S6/S7/S8 Sentinel checks
  .env.sentinel.template
  scripts/sentinel/deploy-monitoring-production.sh
  src/monitoring/sentinel/checks/s7_config_parity.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team

feat: Add application-level security monitoring to S5 and S8
  src/monitoring/sentinel/checks/s5_security_negatives.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
Owners: @credentum/platform-team

fix: Address code review issues for PR #274 (autonomous configuration)
  .env.sentinel.template
  scripts/sentinel/deploy-monitoring-production.sh
  src/monitoring/sentinel/checks/s7_config_parity.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team, @credentum/qa-team

fix: Address additional code review issues for PR #274
  .env.sentinel.template
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team, @credentum/qa-team

feat(security): comprehensive security improvements and CVE automation
  .github/dependabot.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
  CVE_AUTOMATION_ANALYSIS.md
  CVE_QUICK_START.md
  GITHUB_SECRETS_GUIDE.md
  SECRETS_QUICK_START.md
  SECURITY_AUDIT_CREDENTIALS.md
  SECURITY_FIXES_IMPLEMENTED.md
  docker-compose.hetzner.yml
  docker-compose.prod.yml
  docker-compose.simple.yml
  docker-compose.yml
  scripts/deploy-dev.sh
Owners: @credentum/platform-team, @credentum/devops, @credentum/docs-team, @credentum/platform-lead

fix(tests): Fix test execution and increase coverage to 17.5%
  requirements-dev.txt
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
  src/monitoring/veris_sentinel.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(sentinel): Implement app latency monitoring and add S10 regression prevention
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
  src/validators/sentinel_config_validator.py
  tests/validators/test_sentinel_config_validator.py
Owners: @credentum/platform-team, @credentum/qa-team

test(sentinel): Add comprehensive edge case and S7 validation tests
  tests/monitoring/test_veris_sentinel.py
  tests/validators/test_sentinel_config_validator.py
Owners: @credentum/qa-team

fix(tests): Fix test collection errors preventing pytest execution
  tests/security/test_security_audit.py
  tests/test_fact_integration.py
  tests/test_kv_store_comprehensive.py
  tests/test_neo4j_client_comprehensive.py
  tests/test_phase2_enhancements.py
  tests/test_phase3_graph_integration.py
Owners: @credentum/qa-team

fix(security): Remove hardcoded secret and strengthen deployment script validation
  .env.sentinel.template
  scripts/sentinel/deploy-monitoring-production.sh
  src/monitoring/veris_sentinel.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team

test(sentinel): Add comprehensive tests for S8 app latency breakdown function
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/qa-team

fix: Replace hardcoded indices with zip() in S5 and S8 checks
  src/monitoring/sentinel/checks/s5_security_negatives.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
Owners: @credentum/platform-team

feat(security): add validation tests, auto-merge workflow, and deployment checks
  .github/workflows/dependabot-auto-merge.yml
  docker-compose.yml
  scripts/deploy-dev.sh
  tests/integration/test_security_credentials.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/qa-team

security: pin Qdrant v1.15.1 image with SHA256 digest
  docker-compose.prod.yml
  dockerfiles/Dockerfile.qdrant
Owners: @credentum/devops, @credentum/platform-team

security: fix version drift, action pinning, and password exposure
  .github/workflows/dependabot-auto-merge.yml
  docker-compose.hetzner.yml
  docker-compose.prod.yml
  docker-compose.secure.yml
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

security: eliminate Qdrant version drift and pin fetch-metadata action
  .github/workflows/dependabot-auto-merge.yml
  docker-compose.dev.yml
  docker-compose.secure.yml
  docker-compose.simple.yml
Owners: @credentum/devops, @credentum/platform-team

fix(sentinel): resolve S6 and S7 false positive failures
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/checks/s7_config_parity.py
Owners: @credentum/platform-team

fix(sentinel): Phase 1 & 2 threshold adjustments and S1 fix
  src/monitoring/sentinel/checks/s1_health_probes.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/checks/s7_config_parity.py
Owners: @credentum/platform-team

fix(sentinel): Fix S9 graph-intent data structure bug (0.00 → expected ~0.7)
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/platform-team

fix(sentinel): Fix S10 content-pipeline to gracefully handle missing stage endpoints
  src/monitoring/sentinel/checks/s10_content_pipeline.py
Owners: @credentum/platform-team

security(sentinel): Fix CVE vulnerabilities in Dockerfile base image
  dockerfiles/Dockerfile.sentinel
Owners: @credentum/devops, @credentum/platform-team

test(sentinel): Add comprehensive test coverage and cleanup for all checks
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
  tests/monitoring/test_config_parity.py
  tests/monitoring/test_content_pipeline.py
  tests/monitoring/test_graph_intent.py
  tests/monitoring/test_s1_api_auth.py
  tests/monitoring/test_s6_threshold_changes.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Correct S7 expected versions to match deployed context-store
  src/monitoring/sentinel/checks/s7_config_parity.py
  tests/monitoring/test_config_parity.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Eliminate S5 security false positives in development mode
  src/monitoring/sentinel/checks/s5_security_negatives.py
Owners: @credentum/platform-team

fix(tests): Correct S6 test class import and S7 comment documentation
  src/monitoring/sentinel/checks/s7_config_parity.py
  tests/monitoring/test_s6_threshold_changes.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Fix S2 golden-fact-recall API contract violations (66% → 33% degradation)
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  tests/monitoring/test_s2_golden_fact_recall.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Fix S11 firewall-status initialization order issue (issue #280)
  src/monitoring/sentinel/__main__.py
  src/monitoring/sentinel/checks/s11_firewall_status.py
  tests/monitoring/test_s11_host_based.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Fix S1-probes endpoint timeout (5s → 15s)
  src/monitoring/sentinel/checks/s1_health_probes.py
Owners: @credentum/platform-team

fix(sentinel): Fix S8 resource exhaustion false positives (self-fulfilling prophecy)
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
Owners: @credentum/platform-team

fix(sentinel): Fix S3 paraphrase-robustness false failures on empty database
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
Owners: @credentum/platform-team

fix(sentinel): Fix S9 graph-intent false failures on empty database
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/platform-team

fix(sentinel): Fix S7 version validation false positives (issue #281)
  src/monitoring/sentinel/checks/s7_config_parity.py
  tests/monitoring/test_s7_version_fixes.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Add graceful degradation for S6 when backup volumes not mounted
  src/monitoring/sentinel/checks/s6_backup_restore.py
  tests/monitoring/test_s6_inaccessible_backups.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(docker): Update backup paths to match actual server structure
  docker-compose.yml
  src/monitoring/sentinel/checks/s6_backup_restore.py
  tests/monitoring/test_s6_inaccessible_backups.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
