Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

fix: Code quality improvements - newlines and docstring formatting
  src/mcp_server/migration_tools.py
  src/security/compliance_reporter.py
  src/security/waf.py
  tests/mcp_server/test_mcp_migration_tools.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: resolve critical security vulnerability and Pydantic deprecations
  src/api/models.py
  src/interfaces/memory_result.py
  src/security/cypher_validator.py
Owners: @credentum/platform-team

fix: Resolve Sprint 12 Phase 3 test failures
  src/api/middleware.py
  tests/api/test_main.py
  tests/api/test_middleware.py
  tests/migration/test_data_migration.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Resolve Sprint 12 Phase 3 test failures
  src/api/middleware.py
  tests/api/test_main.py
  tests/api/test_middleware.py
  tests/migration/test_data_migration.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Make vector backend compatible with Qdrant v1.9.6
  src/backends/vector_backend.py
Owners: @credentum/platform-team

fix: Vector backend compatibility with Qdrant v1.9.6
  coverage.json
  src/api/middleware.py
  src/api/models.py
  src/backends/vector_backend.py
  src/interfaces/memory_result.py
  src/security/cypher_validator.py
  tests/api/test_main.py
  tests/api/test_middleware.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Upgrade Qdrant server to v1.15.1 to match client version
  docker-compose.prod.yml
  docker-compose.yml
  dockerfiles/Dockerfile.qdrant
  scripts/deploy-environment.sh
  src/backends/vector_backend.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix: Remove invalid collection_name parameter from VectorDBInitializer.search() call
  benchmarks/mcp_performance_benchmark.py
Owners: @credentum/platform-team

fix: Correct VectorDBInitializer.search() method signature in vector backend
  src/backends/vector_backend.py
Owners: @credentum/platform-team

fix: Comprehensive search system fixes - vector collection, text extraction, and Redis compatibility
  src/backends/vector_backend.py
  src/storage/kv_store.py
Owners: @credentum/platform-team

test: Add comprehensive test coverage for vector backend and KV store fixes
  src/backends/vector_backend.py
  src/storage/kv_store.py
  tests/backends/test_vector_backend.py
  tests/storage/test_kv_store_redis.py
Owners: @credentum/platform-team, @credentum/qa-team

docs: Update README and organize repository structure
  README.md
  docs/architecture/DUAL_SERVICE_ARCHITECTURE.md
  docs/architecture/MANIFEST_VERIFIER_INTEGRATION.md
  docs/development/CI_CONTAINER_INTEGRATION.md
  docs/development/CLAUDE_WORKFLOW_VERIFICATION.md
  docs/development/LOCAL_CICD_SETUP.md
  docs/development/PR83_INVESTIGATION_REPORT.md
  docs/development/SOLUTION_FOR_AGENTS.md
  docs/implementation/FACT_RECALL_IMPLEMENTATION_PLAN.md
  docs/implementation/FACT_RECALL_IMPLEMENTATION_STATUS.md
  docs/implementation/GITHUB_ISSUE_127_FIXES.md
  docs/implementation/PHASE2_ENHANCED_DIAGNOSTICS_PLAN.md
  docs/implementation/PHASE2_IMPLEMENTATION_STATUS.md
  docs/implementation/PHASE3_COMPLETION_SUMMARY.md
  docs/implementation/PHASE3_IMPLEMENTATION_STATUS.md
  docs/implementation/PHASE4_IMPLEMENTATION_STATUS.md
  docs/implementation/SEARCH_ENHANCEMENT_IMPLEMENTATION_PLAN.md
  docs/implementation/SENTINEL_MONITORING_IMPLEMENTATION_PLAN.md
  docs/implementation/SPRINT_IMPLEMENTATION_PLAN.md
  docs/implementation/WEBHOOK_GITHUB_ACTIONS_CLAUDE_INTEGRATION_PLAN.md
  docs/implementation/WEBHOOK_INTEGRATION_README.md
  docs/testing/COVERAGE_PLAN_PHASED.md
  docs/testing/FINAL_SOLUTION_COVERAGE.md
  docs/testing/FOR_AGENTS_HOW_TO_RUN_TESTS.md
  docs/testing/HOW_TO_GET_COVERAGE.md
  docs/testing/POST_MERGE_VALIDATION.md
  docs/testing/TEST_COVERAGE_IMPROVEMENT_PLAN.md
  docs/testing/TEST_COVERAGE_REPORT.md
  docs/testing/TEST_EXECUTION.md
  scripts/GET_COVERAGE_NOW.sh
  scripts/MAKE_COVERAGE.sh
  test_dashboard_endpoints.py
  tests/fix_test_imports.py
  tests/test_dashboard_endpoints.py
  tests/test_fact_integration.py
  tests/test_issue_35_reproduction.py
  tests/test_issue_48_integration.py
  tests/test_phase2_enhancements.py
  tests/test_phase3_graph_integration.py
  tests/test_phase4_observability.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops, @credentum/senior-engineers, @credentum/qa-team

feat: Add TeamAI Voice Platform service
  .env.voice.example
  docker-compose.voice.yml
  docs/voice-platform/SPRINT_1_IMPLEMENTATION.md
  docs/voice-platform/TEAMAI_VOICE_PLATFORM_PLAN.md
  docs/voice-platform/VERIS_MEMORY_ANALYSIS.md
  docs/voice-platform/VOICEBOT_INTEGRATION_GUIDE.md
  voice-bot/Dockerfile
  voice-bot/README.md
  voice-bot/app/__init__.py
  voice-bot/app/config.py
  voice-bot/app/main.py
  voice-bot/app/memory_client.py
  voice-bot/app/voice_handler.py
  voice-bot/requirements.txt
  voice-bot/tests/__init__.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

feat(sprint-13): Phase 1 - Critical embedding pipeline fixes
  SPRINT_13_PHASE_1_SUMMARY.md
  src/mcp_server/main.py
Owners: @credentum/docs-team, @credentum/platform-team

feat(sprint-13): Phase 2 - Security & Attribution complete
  src/mcp_server/main.py
  src/middleware/api_key_auth.py
  src/tools/delete_operations.py
Owners: @credentum/platform-team

docs(sprint-13): Add comprehensive progress summary
  SPRINT_13_PROGRESS_SUMMARY.md
Owners: @credentum/docs-team, @credentum/platform-team

fix: Update voice-bot to use correct MCP endpoints after PR #159/#160
  docs/voice-platform/BUG_FIXES_AND_UPDATES.md
  voice-bot/app/memory_client.py
Owners: @credentum/docs-team, @credentum/platform-team

feat(sprint-13): Phase 3 - Memory Management complete
  src/mcp_server/main.py
  src/storage/redis_manager.py
  src/tools/redis_neo4j_sync.py
Owners: @credentum/platform-team

docs: Add analysis of veris-memory-mcp-server PR #3 impact
  docs/voice-platform/MCP_SERVER_PR3_ANALYSIS.md
Owners: @credentum/docs-team

feat(sprint-13): Phase 4 - Architecture Improvements
  src/core/namespace_manager.py
  src/core/relationship_detector.py
  src/mcp_server/main.py
Owners: @credentum/platform-team

docs(sprint-13): Update progress summary for Phases 3-4 completion
  SPRINT_13_PHASE_4_SUMMARY.md
  SPRINT_13_PROGRESS_SUMMARY.md
Owners: @credentum/docs-team, @credentum/platform-team

feat(sprint-13): Phase 5 - Testing & Documentation (SPRINT COMPLETE)
  SPRINT_13_PHASE_5_SUMMARY.md
  SPRINT_13_PROGRESS_SUMMARY.md
  docs/SPRINT_13_API_DOCUMENTATION.md
  docs/SPRINT_13_MONITORING_SETUP.md
  docs/SPRINT_13_TROUBLESHOOTING_GUIDE.md
  tests/integration/test_sprint_13_integration.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

fix(sprint-13): Address PR review blocking issues and warnings
  context/mcp_contracts/delete_context_tool.json
  context/mcp_contracts/forget_context_tool.json
  docs/SPRINT_13_API_DOCUMENTATION.md
  src/core/relationship_detector.py
  src/middleware/api_key_auth.py
  tests/storage/test_redis_ttl_manager.py
Owners: @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

feat(voice-bot): Integrate with veris-memory Sprint 13 (PR #161)
  .env.voice.example
  docs/voice-platform/VOICE_BOT_SPRINT13_INTEGRATION.md
  voice-bot/README.md
  voice-bot/app/config.py
  voice-bot/app/main.py
  voice-bot/app/memory_client.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/docs-team, @credentum/platform-team

feat: Add Sprint 13 MCP API key authentication to docker-compose
  .env.example
  DEPLOY_SPRINT13_MCP_KEY.md
  docker-compose.yml
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/docs-team, @credentum/platform-team, @credentum/devops

fix(sentinel): Resolve critical monitoring and alerting issues
  docker-compose.sentinel.yml
  docs/SECURITY_SETUP.md
  docs/SENTINEL_FIXES_DEPLOYMENT.md
  scripts/sentinel-host-checks.sh
  src/monitoring/sentinel/checks/s11_firewall_status.py
  src/monitoring/sentinel/checks/s1_health_probes.py
  src/monitoring/sentinel/telegram_alerter.py
  src/monitoring/veris_sentinel.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/senior-engineers

fix(sentinel): Address security and code quality issues from PR review
  docker-compose.sentinel.yml
  docs/SECURITY_SETUP.md
  docs/SENTINEL_FIXES_DEPLOYMENT.md
  scripts/sentinel-host-checks.sh
  src/monitoring/sentinel/checks/s11_firewall_status.py
  src/monitoring/sentinel/telegram_alerter.py
  src/monitoring/veris_sentinel.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/senior-engineers

docs(security): Add sudoers and HOST_CHECK_SECRET configuration
  docs/SECURITY_SETUP.md
Owners: @credentum/docs-team

test(sentinel): Add comprehensive test coverage for all new functionality
  docs/SECURITY_SETUP.md
  scripts/sentinel-host-checks.sh
  src/monitoring/veris_sentinel.py
  tests/monitoring/test_host_firewall_endpoint.py
  tests/monitoring/test_s11_host_based.py
  tests/monitoring/test_s1_api_auth.py
  tests/monitoring/test_telegram_alerter_escape.py
Owners: @credentum/docs-team, @credentum/devops, @credentum/senior-engineers, @credentum/platform-team, @credentum/qa-team

fix: add production backup scripts with obsolete volume references removed
  scripts/backup-large-volumes.sh
  scripts/backup-monitor.sh
  scripts/backup-production-final.sh
Owners: @credentum/devops, @credentum/senior-engineers

fix: address security and quality issues in backup scripts
  scripts/BACKUP_SETUP.md
  scripts/backup-large-volumes.sh
  scripts/backup-monitor.sh
  scripts/backup-production-final.sh
  tests/scripts/README.md
  tests/scripts/test_backup_large_volumes.bats
  tests/scripts/test_backup_monitor.bats
  tests/scripts/test_backup_production_final.bats
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops, @credentum/senior-engineers, @credentum/qa-team

fix(monitoring): Register health check endpoints to resolve S1 404 errors
  src/mcp_server/main.py
Owners: @credentum/platform-team

docs: Add Sentinel remediation plan for health check failures
  docs/SENTINEL_REMEDIATION_PLAN.md
Owners: @credentum/docs-team

fix(monitoring): Correct S2 endpoint paths from /api/ to /tools/
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
Owners: @credentum/platform-team

docs: Add comprehensive Sentinel endpoint audit results
  docs/SENTINEL_ENDPOINT_AUDIT.md
Owners: @credentum/docs-team

fix(health): Don't override /health endpoint to fix Docker health checks
  src/health/endpoints.py
Owners: @credentum/senior-engineers, @credentum/sre

fix(health): Use Docker service names instead of localhost for health checks
  src/health/endpoints.py
Owners: @credentum/senior-engineers, @credentum/sre

fix: Add API key authentication to sentinel and monitoring services
  FIX_APPLIED_SUMMARY.md
  SYSTEM_FIX_SUMMARY.md
  docker-compose.yml
  fixes/phase1_auth_fix.md
  fixes/phase2_data_init.md
  fixes/phase3_integration.md
  src/monitoring/sentinel/base_check.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops

fix: Address PR review feedback - add tests and improve error handling
  FIX_APPLIED_SUMMARY.md
  SYSTEM_FIX_SUMMARY.md
  fixes/phase1_auth_fix.md
  fixes/phase2_data_init.md
  fixes/phase3_integration.md
  src/monitoring/sentinel/base_check.py
  tests/integration/test_sentinel_authentication.py
  tests/monitoring/sentinel/test_base_check.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat: Add Phase 2 and 3 scripts for system initialization and verification
  scripts/initialize_system.py
  scripts/verify_system.sh
Owners: @credentum/platform-team, @credentum/devops, @credentum/senior-engineers

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
