Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

fix(security): Remove exposed token and add comprehensive tests
  .env.sentinel.template
  scripts/setup_secure_config.py
  scripts/test_telegram_alerts.py
  src/monitoring/sentinel/README_TELEGRAM.md
  src/monitoring/sentinel/alert_manager.py
  src/monitoring/sentinel/runner.py
  src/monitoring/sentinel/telegram_alerter.py
  tests/monitoring/test_alert_manager.py
  tests/monitoring/test_telegram_alerter.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

fix: resolve MCP store_context response formatting issue #76
  src/core/response_validator.py
  src/mcp_server/server.py
  tests/mcp_server/test_store_context_tool.py
  tests/test_issue_76_fix.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(security): Comprehensive security hardening for Telegram alerting
  src/monitoring/sentinel/alert_manager.py
  src/monitoring/sentinel/runner.py
  src/monitoring/sentinel/telegram_alerter.py
  tests/monitoring/test_alert_manager.py
  tests/monitoring/test_telegram_alerter.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(sentinel): Add Telegram alerting for Sentinel monitoring (#75)
  .env.sentinel.template
  scripts/setup_secure_config.py
  scripts/test_telegram_alerts.py
  src/monitoring/sentinel/README_TELEGRAM.md
  src/monitoring/sentinel/alert_manager.py
  src/monitoring/sentinel/runner.py
  src/monitoring/sentinel/telegram_alerter.py
  tests/monitoring/test_alert_manager.py
  tests/monitoring/test_telegram_alerter.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

fix: resolve MCP store_context response formatting issue #76 (#77)
  src/core/response_validator.py
  src/mcp_server/server.py
  tests/mcp_server/test_store_context_tool.py
  tests/test_issue_76_fix.py
Owners: @credentum/platform-team, @credentum/qa-team

docs: add Docker network access guide for AI agents
  docs/DOCKER_NETWORK_ACCESS.md
Owners: @credentum/docs-team

feat(sentinel): Implement Phase 2 critical monitoring checks
  SENTINEL_MONITORING_IMPLEMENTATION_PLAN.md
  docs/monitoring/PHASE2_IMPLEMENTATION_SUMMARY.md
  src/monitoring/sentinel/checks/s5_security_negatives.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
  tests/monitoring/test_backup_restore.py
  tests/monitoring/test_capacity_smoke.py
  tests/monitoring/test_security_negatives.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

docs: add MCP protocol connection method as recommended approach
  docs/DOCKER_NETWORK_ACCESS.md
Owners: @credentum/docs-team

feat(sentinel): Implement Phase 2 critical monitoring checks (#79)
  SENTINEL_MONITORING_IMPLEMENTATION_PLAN.md
  docs/monitoring/PHASE2_IMPLEMENTATION_SUMMARY.md
  src/monitoring/sentinel/checks/s5_security_negatives.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
  tests/monitoring/test_backup_restore.py
  tests/monitoring/test_capacity_smoke.py
  tests/monitoring/test_security_negatives.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

📚 Add Docker Network Access Guide for AI Agents (#78)
  docs/DOCKER_NETWORK_ACCESS.md
Owners: @credentum/docs-team

feat(sentinel): Implement Phase 3 monitoring & observability checks
  SENTINEL_MONITORING_IMPLEMENTATION_PLAN.md
  docs/monitoring/PHASE3_IMPLEMENTATION_SUMMARY.md
  src/monitoring/sentinel/checks/s4_metrics_wiring.py
  src/monitoring/sentinel/checks/s7_config_parity.py
  tests/monitoring/test_config_parity.py
  tests/monitoring/test_metrics_wiring.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat(sentinel): Implement Phase 3 monitoring & observability checks (#80)
  SENTINEL_MONITORING_IMPLEMENTATION_PLAN.md
  docs/monitoring/PHASE3_IMPLEMENTATION_SUMMARY.md
  src/monitoring/sentinel/checks/s4_metrics_wiring.py
  src/monitoring/sentinel/checks/s7_config_parity.py
  tests/monitoring/test_config_parity.py
  tests/monitoring/test_metrics_wiring.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat(sentinel): Complete Phase 4 advanced semantic monitoring checks
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/platform-team

refactor(sentinel): improve code quality in Phase 4 checks
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/platform-team

Complete Phase 4 implementation with comprehensive unit tests
  src/monitoring/veris_sentinel.py
  tests/monitoring/test_content_pipeline.py
  tests/monitoring/test_graph_intent.py
  tests/monitoring/test_paraphrase_robustness.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(sentinel): Complete Phase 4 advanced semantic monitoring checks (#81)
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
  src/monitoring/veris_sentinel.py
  tests/monitoring/test_content_pipeline.py
  tests/monitoring/test_graph_intent.py
  tests/monitoring/test_paraphrase_robustness.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(architecture): Implement Phase 1 foundation and start Phase 2 backend modularization
  SPRINT_IMPLEMENTATION_PLAN.md
  src/backends/__init__.py
  src/backends/vector_backend.py
  src/interfaces/__init__.py
  src/interfaces/backend_interface.py
  src/interfaces/memory_result.py
  src/utils/logging_middleware.py
  tests/interfaces/__init__.py
  tests/interfaces/test_backend_interface.py
  tests/interfaces/test_memory_result.py
  tests/utils/__init__.py
  tests/utils/test_logging_middleware.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat(backends): Complete Phase 2 backend modularization with QueryDispatcher
  src/backends/graph_backend.py
  src/backends/kv_backend.py
  src/core/query_dispatcher.py
  src/utils/logging_middleware.py
  tests/backends/__init__.py
  tests/backends/test_query_dispatcher.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(phase-3): implement ranking and filtering systems
  src/core/query_dispatcher.py
  src/filters/__init__.py
  src/filters/pre_filter.py
  src/interfaces/memory_result.py
  src/ranking/__init__.py
  src/ranking/policy_engine.py
  tests/backends/test_query_dispatcher.py
  tests/filters/__init__.py
  tests/filters/test_pre_filter.py
  tests/ranking/__init__.py
  tests/ranking/test_policy_engine.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(phase-4): production-grade REST API with comprehensive observability
  src/api/__init__.py
  src/api/dependencies.py
  src/api/main.py
  src/api/middleware.py
  src/api/models.py
  src/api/routes/__init__.py
  src/api/routes/health.py
  src/api/routes/metrics.py
  src/api/routes/search.py
  src/filters/pre_filter.py
  tests/api/__init__.py
  tests/api/test_main.py
  tests/api/test_middleware.py
  tests/api/test_search_endpoints.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Add Sentinel monitoring service to deployment stack
  .github/workflows/deploy-dev.yml
  docker-compose.yml
  dockerfiles/Dockerfile.sentinel
Owners: @credentum/devops, @credentum/platform-team

feat: Complete Phase 5 - Testing, Tools, and Documentation
  docs/api/README.md
  docs/deployment/README.md
  docs/developer/README.md
  tests/integration/test_phase_integration.py
  tools/__init__.py
  tools/benchmarks/README.md
  tools/benchmarks/__init__.py
  tools/benchmarks/performance_suite.py
  tools/cli/README.md
  tools/cli/__init__.py
  tools/cli/query_simulator.py
  tools/cli/testing_tools.py
Owners: @credentum/docs-team, @credentum/qa-team, @credentum/platform-team

fix: Address security and configuration issues in Sentinel deployment
  .github/workflows/deploy-dev.yml
  docker-compose.yml
  dockerfiles/Dockerfile.sentinel
  tests/integration/test_sentinel_integration.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix: Address remaining security and code quality issues
  .github/workflows/deploy-dev.yml
  tests/integration/test_sentinel_integration.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix: Final security and dependency fixes for Sentinel deployment
  .github/workflows/deploy-dev.yml
  docker-compose.yml
  requirements.txt
  tests/integration/test_sentinel_integration.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

feat: Deploy Sentinel monitoring service with main stack (#82)
  .github/workflows/deploy-dev.yml
  docker-compose.yml
  dockerfiles/Dockerfile.sentinel
  requirements.txt
  tests/integration/test_sentinel_integration.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix: Remove invalid image digest from Dockerfile.sentinel
  dockerfiles/Dockerfile.sentinel
Owners: @credentum/devops, @credentum/platform-team

fix: Use valid Python 3.11-slim image digest
  dockerfiles/Dockerfile.sentinel
Owners: @credentum/devops, @credentum/platform-team

fix: Use valid Docker image digest for Sentinel (#84)
  dockerfiles/Dockerfile.sentinel
Owners: @credentum/devops, @credentum/platform-team

fix: Correct monitoring-dashboard healthcheck endpoint
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Correct monitoring-dashboard healthcheck endpoint (#85)
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Add missing entry point for Sentinel monitoring service
  dockerfiles/Dockerfile.sentinel
  src/monitoring/sentinel/__main__.py
Owners: @credentum/devops, @credentum/platform-team

fix: Add missing entry point for Sentinel monitoring service (#86)
  dockerfiles/Dockerfile.sentinel
  src/monitoring/sentinel/__main__.py
Owners: @credentum/devops, @credentum/platform-team

fix: Make Telegram alerting optional for Sentinel startup
  src/monitoring/sentinel/alert_manager.py
  src/monitoring/sentinel/runner.py
Owners: @credentum/platform-team

fix: Make Telegram alerting optional for Sentinel startup (#87)
  src/monitoring/sentinel/alert_manager.py
  src/monitoring/sentinel/runner.py
Owners: @credentum/platform-team

fix: Correct method calls in Sentinel __main__.py
  src/monitoring/sentinel/__main__.py
  tools/test_sentinel_startup.py
Owners: @credentum/platform-team

fix: Correct method calls in Sentinel __main__.py (#88)
  src/monitoring/sentinel/__main__.py
  tools/test_sentinel_startup.py
Owners: @credentum/platform-team

fix: Resolve FastAPI deployment investigation and Pydantic serialization
  src/api/routes/health.py
  src/storage/mock_backends.py
Owners: @credentum/platform-team

feat: Add comprehensive firewall configuration and monitoring
  .github/workflows/deploy-dev.yml
  scripts/setup-firewall.sh
  scripts/update-firewall-rules.sh
  src/monitoring/sentinel/checks/__init__.py
  src/monitoring/sentinel/checks/s11_firewall_status.py
  src/monitoring/sentinel/models.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers

fix: Resolve FastAPI deployment investigation and Pydantic serialization (#89)
  src/api/routes/health.py
  src/storage/mock_backends.py
Owners: @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
