Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team

debug: add /debug/api-keys endpoint to diagnose key loading
  src/mcp_server/main.py
Owners: @credentum/platform-team

debug: add /debug/api-keys endpoint to diagnose key loading (#362)
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(deploy): extract MCP_API_KEY prefix for VoiceBot authentication
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(voice): use API_KEY_VOICEBOT for consistent naming
  docker-compose.voice.yml
Owners: @credentum/devops, @credentum/platform-team

fix(rate-limit): extract VoiceBot key prefix for comparison
  src/api/rate_limit_middleware.py
Owners: @credentum/platform-team

fix(rate-limit): extract VoiceBot key prefix for comparison (#365)
  src/api/rate_limit_middleware.py
Owners: @credentum/platform-team

feat: add get_user_facts endpoint for complete fact retrieval
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(get_user_facts): address code review feedback
  context/mcp_contracts/get_user_facts_tool.json
  src/mcp_server/main.py
Owners: @credentum/platform-team

test: add comprehensive tests for get_user_facts endpoint
  tests/mcp_server/test_get_user_facts.py
Owners: @credentum/qa-team

feat: add get_user_facts endpoint for complete fact retrieval (#366)
  context/mcp_contracts/get_user_facts_tool.json
  src/mcp_server/main.py
  tests/mcp_server/test_get_user_facts.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(upsert_fact): add user_id to Neo4j Fact nodes for get_user_facts
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): add user_id to Neo4j Fact nodes for get_user_facts (#367)
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use neo4j_client.query() instead of execute_query()
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use neo4j_client.query() instead of non-existent execute_query()
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use neo4j_client.query() instead of non-existent execute_query() (#368)
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(deploy): add aggressive Docker image cleanup to prevent disk bloat
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): add aggressive Docker image cleanup to prevent disk bloat (#369)
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

Update claude-code-review.yml (#370)
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

feat(voice-bot): replace broken LiveKit implementation with working browser-based version
  docker-compose.voice.yml
  voice-bot/.gitignore
  voice-bot/Dockerfile
  voice-bot/README.md
  voice-bot/STT_TTS_IMPLEMENTATION_GUIDE.md
  voice-bot/app/__init__.py
  voice-bot/app/agent.py
  voice-bot/app/app.py
  voice-bot/app/config.py
  voice-bot/app/facts.py
  voice-bot/app/main.py
  voice-bot/app/memory.py
  voice-bot/app/memory_client.py
  voice-bot/app/static/index.html
  voice-bot/app/voice_handler.py
  voice-bot/certs/.gitignore
  voice-bot/certs/.gitkeep
  voice-bot/certs/README.md
  voice-bot/frontend/index.html
  voice-bot/frontend/main.js
  voice-bot/pytest.ini
  voice-bot/requirements.txt
  voice-bot/scripts/start.sh
  voice-bot/scripts/validate_sprint1.sh
  voice-bot/tests/__init__.py
  voice-bot/tests/conftest.py
  voice-bot/tests/test_config.py
  voice-bot/tests/test_main.py
  voice-bot/tests/test_memory_client.py
  voice-bot/tests/test_voice_handler.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

fix(voice-bot): address security and code quality issues
  voice-bot/Dockerfile
  voice-bot/app/agent.py
  voice-bot/app/app.py
  voice-bot/app/config.py
  voice-bot/app/facts.py
  voice-bot/app/memory.py
Owners: @credentum/devops, @credentum/platform-team

fix(voice-bot): add missing VERIS_API_KEY import in agent.py
  voice-bot/app/agent.py
Owners: @credentum/platform-team

feat(voice-bot): replace broken LiveKit implementation with working browser-based version (#371)
  docker-compose.voice.yml
  voice-bot/.gitignore
  voice-bot/Dockerfile
  voice-bot/README.md
  voice-bot/STT_TTS_IMPLEMENTATION_GUIDE.md
  voice-bot/app/__init__.py
  voice-bot/app/agent.py
  voice-bot/app/app.py
  voice-bot/app/config.py
  voice-bot/app/facts.py
  voice-bot/app/main.py
  voice-bot/app/memory.py
  voice-bot/app/memory_client.py
  voice-bot/app/static/index.html
  voice-bot/app/voice_handler.py
  voice-bot/certs/.gitignore
  voice-bot/certs/.gitkeep
  voice-bot/certs/README.md
  voice-bot/frontend/index.html
  voice-bot/frontend/main.js
  voice-bot/pytest.ini
  voice-bot/requirements.txt
  voice-bot/scripts/start.sh
  voice-bot/scripts/validate_sprint1.sh
  voice-bot/tests/__init__.py
  voice-bot/tests/conftest.py
  voice-bot/tests/test_config.py
  voice-bot/tests/test_main.py
  voice-bot/tests/test_memory_client.py
  voice-bot/tests/test_voice_handler.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

fix(deploy): build qdrant image after aggressive prune
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): build qdrant image after aggressive prune (#372)
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): build qdrant in deploy-environment.sh (the actual deploy script)
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): build qdrant in deploy-environment.sh (the actual deploy script) (#373)
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): remove livekit references from deploy scripts
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): remove livekit references from deploy scripts (#374)
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(sentinel): resolve 5 persistent check failures
  .env.sentinel.template
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s5_security_negatives.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team

fix(sentinel): resolve 5 persistent check failures (#375)
  .env.sentinel.template
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s5_security_negatives.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team

feat(voicebot): add debug panel with toggle
  voice-bot/app/app.py
  voice-bot/frontend/index.html
  voice-bot/frontend/main.js
Owners: @credentum/platform-team

feat(voicebot): add Claude CLI with OAuth support
  docker-compose.voice.yml
  voice-bot/Dockerfile
Owners: @credentum/devops, @credentum/platform-team

feat(voicebot): add debug panel with toggle (#376)
  voice-bot/app/app.py
  voice-bot/frontend/index.html
  voice-bot/frontend/main.js
Owners: @credentum/platform-team

fix(security): address Dockerfile security issues
  voice-bot/Dockerfile
Owners: @credentum/devops, @credentum/platform-team

fix(sentinel): skip CV check for fast responses (<100ms avg)
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
Owners: @credentum/platform-team

fix(sentinel): skip CV check for fast responses (<100ms avg) (#378)
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
Owners: @credentum/platform-team

feat(voicebot): add Claude CLI with OAuth support (#377)
  docker-compose.voice.yml
  voice-bot/Dockerfile
Owners: @credentum/devops, @credentum/platform-team

fix(deploy): validate required secrets in fast deployment, fallback to full
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix(deploy): validate required secrets in fast deployment, fallback to full (#379)
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team
