Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

fix: Complete type hints and async patterns for fact storage modules
  src/mcp_server/server.py
  src/storage/fact_ranker.py
  src/storage/fact_store.py
  src/storage/graph_enhancer.py
  src/storage/hybrid_scorer.py
Owners: @credentum/platform-team

feat: Complete Phase 8 Storage & Monitoring Infrastructure Tests
  context/.embeddings_cache/hash_cache.json
  tests/test_monitoring_security_monitor.py
  tests/test_storage_kv_store.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Complete Phase 9 Monitoring & Visualization Infrastructure Tests
  tests/test_monitoring_ascii_renderer.py
  tests/test_monitoring_dashboard.py
  tests/test_monitoring_metrics_collector.py
  tests/test_storage_neo4j_client.py
Owners: @credentum/qa-team

fix: Add missing Redis import and improve type hint consistency
  src/storage/fact_store.py
Owners: @credentum/platform-team

Complete Phases 1-4: Enterprise-Grade Fact Recall System with Observability & Safety (#45)
  FACT_RECALL_IMPLEMENTATION_PLAN.md
  FACT_RECALL_IMPLEMENTATION_STATUS.md
  PHASE2_IMPLEMENTATION_STATUS.md
  PHASE3_IMPLEMENTATION_STATUS.md
  PHASE4_IMPLEMENTATION_STATUS.md
  contracts/mcp_contracts/fact_storage_tools.json
  src/core/fact_extractor.py
  src/core/feature_gates.py
  src/core/graph_query_expander.py
  src/core/intent_classifier.py
  src/core/qa_generator.py
  src/core/query_rewriter.py
  src/mcp_server/server.py
  src/middleware/scope_validator.py
  src/monitoring/fact_monitoring.py
  src/monitoring/fact_telemetry.py
  src/security/fact_privacy.py
  src/storage/fact_ranker.py
  src/storage/fact_store.py
  src/storage/graph_enhancer.py
  src/storage/graph_fact_store.py
  src/storage/hybrid_scorer.py
  test_fact_integration.py
  test_phase2_enhancements.py
  test_phase3_graph_integration.py
  test_phase4_observability.py
  tests/test_fact_storage.py
  tests/test_phase4_integration_comprehensive.py
  tests/test_privacy_controls_comprehensive.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat: Complete Phase 10 - Validation & Core Processing Infrastructure Test Coverage
  tests/test_core_monitoring.py
  tests/test_mcp_server_tool_selector_bridge.py
  tests/test_storage_hash_diff_embedder.py
  tests/test_validators_config_validator.py
Owners: @credentum/qa-team

feat(tests): enhance compliance reporter tests with comprehensive coverage
  tests/test_security_compliance_reporter.py
Owners: @credentum/qa-team

feat(tests): create comprehensive RBAC authentication/authorization tests
  tests/test_auth_rbac.py
Owners: @credentum/qa-team

feat(tests): create comprehensive WAF security tests
  tests/test_security_waf.py
Owners: @credentum/qa-team

docs: complete Phase 11 coverage measurement and summary
  phase11_coverage.json
Owners: @credentum/platform-team

docs: add phase 10 coverage documentation
  phase10_coverage.json
Owners: @credentum/platform-team

fix: resolve Issue #48 integration challenges and breaking changes
  docs/API_FORMATS.md
  src/mcp_server/main.py
  test_issue_48_integration.py
  tests/mcp_server/test_main_comprehensive.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

refactor: remove backward compatibility for cleaner implementation
  docs/API_FORMATS.md
  src/mcp_server/main.py
  test_issue_48_integration.py
Owners: @credentum/docs-team, @credentum/platform-team

docs: comprehensive README improvements addressing Issue #49 feedback
  README.md
Owners: @credentum/docs-team, @credentum/platform-team

docs: remove Fly.io reference as it's not used
  README.md
Owners: @credentum/docs-team, @credentum/platform-team

security: comprehensive security hardening and code quality improvements
  src/mcp_server/main.py
Owners: @credentum/platform-team

Fix Issue #48: Resolve integration challenges and breaking changes (#50)
  README.md
  docs/API_FORMATS.md
  src/mcp_server/main.py
  test_issue_48_integration.py
  tests/mcp_server/test_main_comprehensive.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat(monitoring): implement Phase 1 active metrics collection
  src/mcp_server/main.py
  src/monitoring/dashboard.py
Owners: @credentum/platform-team

fix(monitoring): address code quality and test coverage issues
  src/mcp_server/main.py
  src/monitoring/dashboard.py
  tests/monitoring/test_dashboard_collection.py
  tests/monitoring/test_service_health_checks.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(monitoring): comprehensive production-ready improvements
  context/.embeddings_cache/hash_cache.json
  src/mcp_server/main.py
  src/monitoring/dashboard.py
  tests/health/test_endpoints.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(monitoring): implement Phase 1 active metrics collection (#51)
  context/.embeddings_cache/hash_cache.json
  src/mcp_server/main.py
  src/monitoring/dashboard.py
  tests/health/test_endpoints.py
  tests/monitoring/test_dashboard_collection.py
  tests/monitoring/test_service_health_checks.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: implement Phase 2 monitoring with real-time analytics and performance insights
  src/mcp_server/main.py
  src/monitoring/ascii_renderer.py
  src/monitoring/dashboard.py
  src/monitoring/request_metrics.py
Owners: @credentum/platform-team

fix(storage): add missing ping method to SimpleRedisClient
  src/storage/simple_redis.py
Owners: @credentum/platform-team

fix(storage): add missing ping method to SimpleRedisClient (#53)
  src/storage/simple_redis.py
Owners: @credentum/platform-team

feat(monitoring): implement Phase 2 real-time analytics and insights
  src/mcp_server/main.py
  src/monitoring/dashboard.py
  src/monitoring/request_metrics.py
Owners: @credentum/platform-team

fix(security): implement comprehensive security controls for Phase 2 monitoring
  src/mcp_server/main.py
  src/monitoring/request_metrics.py
  tests/monitoring/test_dashboard_analytics.py
  tests/monitoring/test_request_metrics.py
Owners: @credentum/platform-team, @credentum/qa-team

Phase 2: Real-time Analytics and Performance Insights (#54)
  src/mcp_server/main.py
  src/monitoring/dashboard.py
  src/monitoring/request_metrics.py
  tests/monitoring/test_dashboard_analytics.py
  tests/monitoring/test_request_metrics.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(deployment): complete Hetzner production monitoring deployment infrastructure
  .env.production.template
  docker-compose.prod.yml
  docs/HETZNER_MONITORING_DEPLOYMENT.md
  scripts/deploy-monitoring-production.sh
  scripts/validate-monitoring-deployment.sh
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/senior-engineers

feat(monitoring): implement Veris Sentinel autonomous monitoring agent (Issue #46)
  docker-compose.sentinel.yml
  dockerfiles/Dockerfile.sentinel
  docs/VERIS_SENTINEL.md
  requirements-sentinel.txt
  scripts/sentinel-main.py
  scripts/test-sentinel.py
  src/monitoring/veris_sentinel.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

feat: Add comprehensive security fixes and test coverage for monitoring
  contracts/mcp_contracts/monitoring_tools.json
  contracts/mcp_contracts/sentinel_api_tools.json
  dockerfiles/Dockerfile.sentinel
  tests/monitoring/test_veris_sentinel.py
  tests/scripts/test_deploy_monitoring_production.py
  tests/scripts/test_validate_monitoring_deployment.py
Owners: @credentum/platform-team, @credentum/devops, @credentum/qa-team

fix: Complete security hardening and code quality improvements
  requirements-sentinel.txt
  scripts/deploy-monitoring-production.sh
  src/monitoring/veris_sentinel.py
  tests/monitoring/test_sentinel_integration.py
Owners: @credentum/platform-team, @credentum/devops, @credentum/platform-lead, @credentum/qa-team

feat: comprehensive monitoring and deployment fixes
  .env.production.template
  scripts/deploy-monitoring-production.sh
  scripts/sentinel-entrypoint.sh
  src/core/monitoring.py
  src/monitoring/dashboard_api.py
  src/monitoring/veris_sentinel.py
  tests/conftest.py
  tests/monitoring/test_dashboard_analytics.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/senior-engineers, @credentum/platform-team, @credentum/qa-team

fix: comprehensive code quality and security improvements
  .env.production.template
  dockerfiles/Dockerfile.sentinel
  scripts/deploy-monitoring-production.sh
  src/core/monitoring.py
  src/monitoring/dashboard_api.py
  src/monitoring/veris_sentinel.py
  tests/conftest.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team, @credentum/qa-team

feat: major code quality and architecture improvements
  config/test_defaults.yaml
  docs/CENTRALIZED_TEST_CONFIG.md
  docs/IMPORT_UTILITIES.md
  docs/SENTINEL_MODULAR_ARCHITECTURE.md
  src/core/import_utils.py
  src/core/import_utils_example.py
  src/core/rate_limiter.py
  src/core/test_config.py
  src/monitoring/dashboard_api.py
  src/monitoring/sentinel/__init__.py
  src/monitoring/sentinel/api.py
  src/monitoring/sentinel/base_check.py
  src/monitoring/sentinel/checks/__init__.py
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s1_health_probes.py
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s4_metrics_wiring.py
  src/monitoring/sentinel/checks/s5_security_negatives.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/checks/s7_config_parity.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
  src/monitoring/sentinel/models.py
  src/monitoring/sentinel/runner.py
  src/monitoring/sentinel_migration.py
  src/monitoring/veris_sentinel.py
  tests/conftest.py
Owners: @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

fix(monitoring): correct BaseHTTPMiddleware import path and remove fallback
  src/monitoring/request_metrics.py
Owners: @credentum/platform-team

fix(monitoring): correct BaseHTTPMiddleware import path and remove fallback (#56)
  src/monitoring/request_metrics.py
Owners: @credentum/platform-team

feat: add public async API methods to rate limiter
  src/core/rate_limiter.py
  src/monitoring/dashboard_api.py
  tests/core/test_rate_limiter.py
  tests/mcp_server/test_embedding_monitoring.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: add public async API methods to rate limiter (#57)
  src/core/rate_limiter.py
  src/monitoring/dashboard_api.py
  tests/core/test_rate_limiter.py
  tests/mcp_server/test_embedding_monitoring.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Add metrics tracking to MCP tool calls
  src/mcp_server/server.py
Owners: @credentum/platform-team

docs: add public/shareable memory implementation plans
  docs/PUBLIC_MEMORY_IMPLEMENTATION.md
  docs/PUBLIC_MEMORY_QUICK_START.md
Owners: @credentum/docs-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
