Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

fix(context-store): Register Sentinel API key to fix 401 authentication errors
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

fix(sentinel): comprehensive fixes for monitoring system failures
  .env.sentinel.template
  docker-compose.yml
  requirements-sentinel.txt
  src/monitoring/sentinel/checks/s4_metrics_wiring.py
  src/monitoring/sentinel/checks/s5_security_negatives.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/checks/s7_config_parity.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
  src/monitoring/sentinel/telegram_alerter.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team

test: Add comprehensive unit tests for PR #247 changes
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/runner.py
  tests/monitoring/test_graph_intent.py
  tests/monitoring/test_metrics_wiring.py
  tests/monitoring/test_security_negatives.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Address code review blocking issues and warnings
  src/monitoring/sentinel/checks/s4_metrics_wiring.py
  src/monitoring/sentinel/checks/s5_security_negatives.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/telegram_alerter.py
  tests/monitoring/test_graph_intent.py
  tests/monitoring/test_metrics_wiring.py
  tests/monitoring/test_security_negatives.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Critical security and reliability improvements
  src/monitoring/sentinel/checks/s4_metrics_wiring.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/runner.py
  src/monitoring/sentinel/telegram_alerter.py
Owners: @credentum/platform-team

CRITICAL: Fix security vulnerabilities (CVE 9.8, 8.5, 7.5) - Database exposure
  EXECUTIVE_SUMMARY.md
  SECURITY_README.md
  SECURITY_REMEDIATION_PLAN.md
  docker-compose.dev.yml
  docker-compose.secure.yml
  docker-compose.yml
  scripts/deploy-dev.sh
  scripts/security/docker-firewall-rules.sh
  scripts/security/emergency-lockdown.sh
  scripts/security/security-audit.sh
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops, @credentum/platform-lead

fix(sentinel): Final code review improvements - security, config, testing
  src/monitoring/sentinel/checks/s4_metrics_wiring.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/runner.py
  tests/monitoring/test_graph_intent.py
  tests/monitoring/test_metrics_wiring.py
  tests/monitoring/test_security_negatives.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Production-ready hardening - validation, error handling, docs
  docker-compose.yml
  src/monitoring/sentinel/checks/s4_metrics_wiring.py
  src/monitoring/sentinel/checks/s6_backup_restore.py
  src/monitoring/sentinel/telegram_alerter.py
Owners: @credentum/devops, @credentum/platform-team

test: Add comprehensive security test coverage and validation
  .pre-commit-config-security.yaml
  scripts/pre-commit/__init__.py
  scripts/pre-commit/validate_localhost_bindings.py
  scripts/pre-commit/validate_no_secrets.py
  scripts/pre-commit/validate_redis_auth.py
  scripts/pre-commit/validate_security_docs.py
  tests/security/test_deploy_script_security.py
  tests/security/test_docker_compose_security.py
  tests/security/test_emergency_lockdown.py
  tests/security/test_firewall_integration.py
  tests/security/test_redis_auth_integration.py
  tests/security/test_security_audit.py
Owners: @credentum/platform-team, @credentum/security-team, @credentum/platform-lead, @credentum/qa-team

fix(ci): Update docker-compose.test.yml for new Redis URL format
  docker-compose.test.yml
Owners: @credentum/devops, @credentum/platform-team

fix(ci): Fix smoke test to look for config in correct directory
  ops/smoke/smoke_runner.py
Owners: @credentum/qa-team, @credentum/devops

Fix: Add authentication headers to S3, S8, S9, S10 checks
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/platform-team

fix(ci): Fix smoke test to look for config in correct directory
  ops/smoke/smoke_runner.py
Owners: @credentum/qa-team, @credentum/devops

fix(ci): Update docker-compose.test.yml for new Redis URL format
  docker-compose.test.yml
Owners: @credentum/devops, @credentum/platform-team

fix(deploy): Stop livekit-server and voice-bot containers before deployment
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Improve livekit-server cleanup with direct removal and port release wait
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Add debugging output and increase wait time for container cleanup
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): COMPREHENSIVE FIX - Kill ALL container instances + non-docker processes
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): ULTIMATE FIX - Separate build from up to prevent docker compose recreate race
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Use docker compose down + --force-recreate for clean deployment (v6)
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Remove --force-recreate flag that caused containers to recreate while running
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Add --no-build flag to prevent rebuild race condition during up
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Use create+start instead of up to prevent recreate race condition
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Remove duplicate livekit/voice-bot definitions to resolve port binding conflict
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix(deploy): Fix deployment verification Redis auth and voice-bot Redis connection
  .github/workflows/deploy-dev.yml
  docker-compose.voice.yml
Owners: @credentum/devops, @credentum/platform-team

fix(deploy): Also fix Redis health check in deployment-report.sh script
  scripts/deployment-report.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Fix Redis health check in deployment-report.sh script
  scripts/deployment-report.sh
Owners: @credentum/devops, @credentum/platform-lead

feat(security): Add nginx reverse proxy with rate limiting and automated security tools
  docker-compose.voice.yml
  docker/nginx/conf.d/livekit.conf
  docker/nginx/conf.d/voice-bot.conf
  docker/nginx/nginx.conf
  dockerfiles/Dockerfile.nginx
  docs/SECURITY_ENHANCEMENTS.md
  scripts/apply-security-enhancements.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/senior-engineers

fix(mcp): Restore Docker bridge network access for MCP server
  docker-compose.yml
  docs/MCP_DOCKER_BRIDGE_FIX.md
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

Fix: S10 content-pipeline payload format to match API schema
  src/monitoring/sentinel/checks/s10_content_pipeline.py
Owners: @credentum/platform-team

fix(security): Address all PR #263 review issues
  docker-compose.voice.yml
  docker/nginx/nginx.conf
  dockerfiles/Dockerfile.nginx
  scripts/apply-security-enhancements.sh
  scripts/generate-ssl-certs.sh
  tests/nginx/test_nginx_config.sh
  tests/run_all_tests.sh
  tests/security/test_security_scripts.sh
  voice-bot/certs/.gitignore
  voice-bot/certs/.gitkeep
  voice-bot/certs/README.md
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers, @credentum/qa-team, @credentum/docs-team

fix(deploy): Fix critical deployment issues - Redis auth and Sentinel connectivity
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
  src/storage/simple_redis.py
Owners: @credentum/platform-team

fix(deployment): Critical fixes for Redis auth and Sentinel connectivity
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
  src/storage/simple_redis.py
Owners: @credentum/platform-team

test: Add comprehensive test coverage for deployment fixes
  src/storage/simple_redis.py
  tests/monitoring/test_content_pipeline.py
  tests/monitoring/test_graph_intent.py
  tests/storage/test_simple_redis.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(storage): Add missing setex method to SimpleRedisClient
  src/storage/simple_redis.py
  tests/storage/test_simple_redis.py
Owners: @credentum/platform-team, @credentum/qa-team

Fix: REST API compatibility layer endpoint response formats
  src/mcp_server/rest_compatibility.py
  src/monitoring/sentinel/checks/s10_content_pipeline.py
Owners: @credentum/platform-team

test: Add comprehensive test coverage for PR #268 fixes
  tests/mcp_server/test_rest_compatibility.py
  tests/monitoring/test_content_pipeline.py
Owners: @credentum/qa-team

docs: Address code review feedback for PR #268
  COVERAGE_NOTES.md
  src/mcp_server/rest_compatibility.py
  src/monitoring/sentinel/checks/s10_content_pipeline.py
Owners: @credentum/docs-team, @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
