Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

feat(deployment): Add fast code-only deployment (30 seconds vs 40 minutes)
  .github/workflows/deploy-dev-fast.yml
  scripts/deploy-code-only.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

feat(deployment): Add fast code-only deployment (30 seconds vs 40 minutes) (#344)
  .github/workflows/deploy-dev-fast.yml
  scripts/deploy-code-only.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

feat(deployment): Add volume-mounted dev deployment for instant code changes
  docker-compose.deploy-dev.yml
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(deployment): Fix fast deployment workflow to use correct compose file
  .github/workflows/deploy-dev-fast.yml
Owners: @credentum/devops, @credentum/platform-team

feat: Volume-mounted dev deployment for instant code changes (#345)
  .github/workflows/deploy-dev-fast.yml
  docker-compose.deploy-dev.yml
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(deployment): Use GHCR_PAT for container registry authentication
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Use GHCR_PAT for container registry auth
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Use GHCR_PAT for container registry auth (#347)
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Export GITHUB_TOKEN for deploy-environment.sh
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Export GHCR credentials for deploy-environment.sh (#348)
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Trigger hot reload after deployment for volume-mounted code
  deployments/neo4j-init/001-init-schema.cypher
  scripts/deploy-environment.sh
Owners: @credentum/platform-team, @credentum/devops, @credentum/platform-lead

fix: Trigger hot reload after deployment for volume-mounted code (#349)
  deployments/neo4j-init/001-init-schema.cypher
  scripts/deploy-environment.sh
Owners: @credentum/platform-team, @credentum/devops, @credentum/platform-lead

fix: Update Qdrant API from .search() to .query_points()
  src/storage/qdrant_client.py
Owners: @credentum/platform-team

fix: Update Qdrant API from .search() to .query_points() (#350)
  src/storage/qdrant_client.py
Owners: @credentum/platform-team

feat: Smart deployment - fast for code, full for infrastructure
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

feat: Smart deployment - fast for code, full for infrastructure
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

feat: Smart deployment - fast for code, full for infrastructure (#351)
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

feat: Add exclude_sources parameter to retrieve_context API
  src/mcp_server/main.py
Owners: @credentum/platform-team

feat: Add exclude_sources parameter to retrieve_context API (#352)
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix: Fast deployment now restarts services instead of flaky hot reload
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Fast deployment now restarts services instead of flaky hot reload (#353)
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Use force-recreate instead of restart for fast deployment
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Use force-recreate instead of restart for fast deployment (#354)
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Exempt VoiceBot from rate limiting when authenticated
  src/api/rate_limit_middleware.py
Owners: @credentum/platform-team

fix: Exempt VoiceBot from rate limiting when authenticated (#355)
  src/api/rate_limit_middleware.py
Owners: @credentum/platform-team

fix: Add use_cache parameter and cache invalidation on store
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix: Add use_cache parameter and cache invalidation on store (#356)
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix: Fast deployment now explicitly loads .env file
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Fast deployment now explicitly loads .env file (#357)
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

feat: Add upsert_fact endpoint for atomic fact updates
  src/mcp_server/main.py
Owners: @credentum/platform-team

enhance: Convert fact_key to natural language in searchable_text
  src/mcp_server/main.py
Owners: @credentum/platform-team

feat(upsert_fact): add relationship creation and MCP contract
  context/mcp_contracts/upsert_fact_tool.json
  src/mcp_server/main.py
Owners: @credentum/platform-team

feat: Add upsert_fact endpoint for atomic fact updates (#358)
  context/mcp_contracts/upsert_fact_tool.json
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use qdrant_client instead of undefined unified_search
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use qdrant_client instead of undefined unified_search
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use qdrant_client instead of undefined unified_search (#359)
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use generate_embedding instead of undefined embedding_service
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use generate_embedding instead of undefined embedding_service (#360)
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use store_vector wrapper instead of raw upsert
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(upsert_fact): use store_vector wrapper instead of raw upsert (#361)
  src/mcp_server/main.py
Owners: @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
