Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

feat: Phase 1 complete - Foundation infrastructure tests (5x coverage improvement)
  scripts/simple-coverage-gate.sh
  tests/core/test_base_component.py
  tests/core/test_config.py
Owners: @credentum/devops, @credentum/senior-engineers, @credentum/qa-team

feat: Complete Phase 2 storage testing - significant coverage improvements
  tests/core/test_embedding_service.py
  tests/core/test_utils.py
  tests/storage/test_chunking.py
  tests/storage/test_types.py
Owners: @credentum/qa-team

feat: Complete Phase 3 API & Request Handling - Health and Validator Testing
  coverage.json
  tests/health/__init__.py
  tests/health/test_endpoints.py
  tests/validators/test_cache_entry_validator.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: resolve critical vector search and storage issues (issue #35)
  config/.ctxrc.docker.yaml
  config/.ctxrc.hetzner.yaml
  config/.ctxrc.yaml
  src/mcp_server/main.py
  test_issue_35_reproduction.py
Owners: @credentum/platform-team, @credentum/senior-engineers

feat(security): comprehensive test coverage for security modules
  tests/security/test_cypher_validator.py
  tests/security/test_headers.py
  tests/security/test_input_validator.py
Owners: @credentum/qa-team

feat: Add local CI/CD coverage gates and test infrastructure (#34)
  LOCAL_CICD_SETUP.md
  Makefile
  TEST_COVERAGE_IMPROVEMENT_PLAN.md
  coverage.json
  pytest.ini
  scripts/coverage-gate.sh
  scripts/coverage-summary.py
  scripts/simple-coverage-gate.sh
  tests/core/test_base_component.py
  tests/core/test_config.py
  tests/core/test_embedding_service.py
  tests/core/test_utils.py
  tests/health/__init__.py
  tests/health/test_endpoints.py
  tests/storage/test_chunking.py
  tests/storage/test_types.py
  tests/unit/test_new_request_models.py.disabled
  tests/validators/test_cache_entry_validator.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops, @credentum/senior-engineers, @credentum/qa-team

feat(security): comprehensive test coverage for security modules (#37)
  tests/security/test_cypher_validator.py
  tests/security/test_headers.py
  tests/security/test_input_validator.py
Owners: @credentum/qa-team

feat(tests): comprehensive test coverage expansion - Phase 8 complete
  coverage.json
  tests/core/test_config_error.py
  tests/core/test_embedding_config_coverage.py
  tests/core/test_mcp_validation.py
  tests/core/test_rate_limiter.py
  tests/core/test_ssl_config.py
  tests/core/test_utils_comprehensive.py
  tests/mcp_server/test_embedding_monitoring.py
  tests/storage/test_kv_store.py
  tests/storage/test_neo4j_client.py
  tests/test_core_monitoring_comprehensive.py
  tests/test_core_monitoring_simple.py
  tests/test_monitoring_rate_limiter_focused.py
  tests/test_query_validator_comprehensive.py
  tests/validators/test_config_validator.py
  tests/validators/test_config_validator_100.py
  tests/validators/test_config_validator_comprehensive.py
  tests/validators/test_config_validator_full.py
  tests/validators/test_config_validator_main.py
  tests/validators/test_kv_validators_full.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(tests): comprehensive test coverage expansion - Phase 8 complete (#38)
  coverage.json
  tests/core/test_config_error.py
  tests/core/test_embedding_config_coverage.py
  tests/core/test_mcp_validation.py
  tests/core/test_rate_limiter.py
  tests/core/test_ssl_config.py
  tests/core/test_utils_comprehensive.py
  tests/mcp_server/test_embedding_monitoring.py
  tests/storage/test_kv_store.py
  tests/storage/test_neo4j_client.py
  tests/test_core_monitoring_comprehensive.py
  tests/test_core_monitoring_simple.py
  tests/test_monitoring_rate_limiter_focused.py
  tests/test_query_validator_comprehensive.py
  tests/validators/test_config_validator.py
  tests/validators/test_config_validator_100.py
  tests/validators/test_config_validator_comprehensive.py
  tests/validators/test_config_validator_full.py
  tests/validators/test_config_validator_main.py
  tests/validators/test_kv_validators_full.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Phase 9 MCP server comprehensive test coverage
  coverage.json
  tests/mcp_server/test_main_comprehensive.py
  tests/mcp_server/test_server_working.py
Owners: @credentum/platform-team, @credentum/qa-team

Phase 9: MCP Server Comprehensive Test Coverage (#39)
  coverage.json
  tests/mcp_server/test_main_comprehensive.py
  tests/mcp_server/test_server_working.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Phase 10 security infrastructure comprehensive test coverage
  coverage.json
  tests/security/test_compliance_reporter_comprehensive.py
  tests/security/test_security_scanner_comprehensive.py
Owners: @credentum/platform-team, @credentum/qa-team

docs: Add comprehensive parallel testing framework and documentation
  pytest-parallel.ini
  requirements-dev-parallel.txt
  scripts/run-parallel-tests.sh
  tests/README.md
Owners: @credentum/platform-team, @credentum/devops, @credentum/senior-engineers, @credentum/docs-team

Phase 10: Security Infrastructure Comprehensive Test Coverage (#40)
  coverage.json
  pytest-parallel.ini
  requirements-dev-parallel.txt
  scripts/run-parallel-tests.sh
  tests/README.md
  tests/security/test_compliance_reporter_comprehensive.py
  tests/security/test_security_scanner_comprehensive.py
Owners: @credentum/platform-team, @credentum/devops, @credentum/senior-engineers, @credentum/docs-team, @credentum/qa-team

fix: establish single source of truth for test execution
  TEST_EXECUTION.md
  coverage.json
  scripts/README_TESTS.md
  scripts/coverage-gate.sh
  scripts/run-parallel-tests.sh
  scripts/run-tests.sh
  scripts/simple-coverage-gate.sh
  tests/core/test_monitoring.py
  tests/mcp_server/test_coverage_boost.py
  tests/mcp_server/test_graphrag_integration.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops, @credentum/senior-engineers, @credentum/qa-team

fix: update GitHub CI workflow to use unified test runner
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

Fix: Establish single source of truth for test execution (#41)
  .github/workflows/claude-code-review.yml
  TEST_EXECUTION.md
  coverage.json
  scripts/README_TESTS.md
  scripts/coverage-gate.sh
  scripts/run-parallel-tests.sh
  scripts/run-tests.sh
  scripts/simple-coverage-gate.sh
  tests/core/test_monitoring.py
  tests/mcp_server/test_coverage_boost.py
  tests/mcp_server/test_graphrag_integration.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/senior-engineers, @credentum/qa-team

fix: Make code coverage trivially easy for agents to find and run
  HOW_TO_GET_COVERAGE.md
  README.md
  coverage.py
  pyproject.toml
Owners: @credentum/docs-team, @credentum/platform-team

fix: Make code coverage trivially easy for agents to find and run (#42)
  HOW_TO_GET_COVERAGE.md
  README.md
  coverage.py
  pyproject.toml
Owners: @credentum/docs-team, @credentum/platform-team

fix: resolve Issue #43 - memory search retrieval ineffective for semantically related questions
  src/core/qa_detector.py
  src/core/query_expansion.py
  src/mcp_server/server.py
  test_issue_43_fix.py
  test_issue_43_reproduction.py
Owners: @credentum/platform-team

refactor: address code quality issues and add comprehensive test coverage
  src/core/qa_detector.py
  src/core/qa_handlers.py
  src/core/query_expansion.py
  src/mcp_server/server.py
  tests/core/test_qa_detector.py
  tests/core/test_qa_handlers.py
  tests/core/test_query_expansion.py
  tests/integration/test_issue_43_fix.py
  tests/integration/test_issue_43_reproduction.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: correct import paths in integration tests
  tests/integration/test_issue_43_fix.py
  tests/integration/test_issue_43_reproduction.py
Owners: @credentum/qa-team

Fix: Resolve test coverage issues once and for all
  COVERAGE_PLAN_PHASED.md
  FINAL_SOLUTION_COVERAGE.md
  FOR_AGENTS_HOW_TO_RUN_TESTS.md
  Makefile
  context/.embeddings_cache/hash_cache.json
  coverage.py
  pytest.ini
Owners: @credentum/docs-team, @credentum/platform-team

Phase 1 Complete: Critical Infrastructure Coverage - 74% achieved
  coverage_phase1.json
  tests/core/test_rate_limiter_simple.py
Owners: @credentum/platform-team, @credentum/qa-team

Phase 2 Progress: Error Handling & Rate Limiting Coverage
  tests/core/test_error_handler_simple.py
Owners: @credentum/qa-team

feat: implement Phase 1 fact recall system for reliable personal fact retrieval
  FACT_RECALL_IMPLEMENTATION_PLAN.md
  FACT_RECALL_IMPLEMENTATION_STATUS.md
  src/core/fact_extractor.py
  src/core/intent_classifier.py
  src/mcp_server/server.py
  src/middleware/scope_validator.py
  src/storage/fact_store.py
  test_fact_integration.py
  tests/test_fact_storage.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat: implement Phase 2 enhanced fact recall with Q&A pairing and ranking
  PHASE2_IMPLEMENTATION_STATUS.md
  src/core/qa_generator.py
  src/core/query_rewriter.py
  src/mcp_server/server.py
  src/storage/fact_ranker.py
  test_phase2_enhancements.py
Owners: @credentum/docs-team, @credentum/platform-team

feat(tests): Add comprehensive tests for MCP server modules
  tests/mcp_server/test_rbac_middleware.py
  tests/mcp_server/test_simple_server_comprehensive.py
Owners: @credentum/qa-team

feat(coverage): Complete Phase 3 - API & Security Layer coverage improvements
  phase3_coverage.json
Owners: @credentum/platform-team

feat: implement Phase 3 graph integration for enhanced fact recall
  PHASE3_IMPLEMENTATION_STATUS.md
  src/core/graph_query_expander.py
  src/mcp_server/server.py
  src/storage/graph_enhancer.py
  src/storage/graph_fact_store.py
  src/storage/hybrid_scorer.py
  test_phase3_graph_integration.py
Owners: @credentum/docs-team, @credentum/platform-team

Phase 4 Complete: Integration & End-to-End Testing
  phase4_coverage.json
  tests/integration/test_core_integration.py
  tests/integration/test_end_to_end_workflows.py
  tests/integration/test_storage_integration.py
Owners: @credentum/platform-team, @credentum/qa-team

Phase 5 Complete: Polish & Edge Cases - MASSIVE COVERAGE GAINS
  phase5_coverage.json
  tests/test_agent_namespace_edge_cases.py
  tests/test_base_component_edge_cases.py
  tests/test_error_handler_edge_cases.py
  tests/test_kv_store_edge_cases.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Complete Phase 4 observability and safety implementation
  PHASE4_IMPLEMENTATION_STATUS.md
  src/core/feature_gates.py
  src/monitoring/fact_monitoring.py
  src/monitoring/fact_telemetry.py
  src/security/fact_privacy.py
  test_phase4_observability.py
Owners: @credentum/docs-team, @credentum/platform-team

feat: Add comprehensive MCP server main module tests (Phase 6)
  tests/test_mcp_server_main.py
Owners: @credentum/qa-team

feat: Add comprehensive MCP server implementation tests (Phase 6)
  tests/test_mcp_server_implementation.py
Owners: @credentum/qa-team

feat: Complete Phase 6 with coverage analysis and results
  GET_COVERAGE_NOW.sh
  MAKE_COVERAGE.sh
  Makefile.simple
  SOLUTION_FOR_AGENTS.md
  phase2_final.json
  phase6_coverage.json
  pytest.ini.broken
Owners: @credentum/platform-team, @credentum/docs-team

feat: Complete Phase 7 Security Infrastructure tests
  tests/test_security_compliance_reporter.py
  tests/test_security_port_filter.py
  tests/test_security_scanner.py
  tests/test_security_secrets_manager.py
Owners: @credentum/qa-team, @credentum/security-team, @credentum/platform-lead

feat: Complete Phase 7 with outstanding security coverage results
  phase7_coverage.json
Owners: @credentum/platform-team

fix: Address code quality and monitoring issues identified in review
  contracts/mcp_contracts/fact_storage_tools.json
  src/core/feature_gates.py
  src/storage/fact_store.py
  src/storage/graph_fact_store.py
  tests/test_phase4_integration_comprehensive.py
  tests/test_privacy_controls_comprehensive.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Complete Phase 7 Security Infrastructure Tests
  final_security_coverage.json
Owners: @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
