Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

feat: improve store_context error handling and debugging
  src/mcp_server/main.py
Owners: @credentum/platform-team

feat: add Redis-compatible methods to ContextKV class
  src/storage/context_kv.py
Owners: @credentum/platform-team

🔧 Fix: MCP tool runtime errors (store_context & scratchpad) (#16)
  src/mcp_server/main.py
  src/storage/context_kv.py
Owners: @credentum/platform-team

docs: comprehensive MCP tool investigation and implementation report
  MCP_TOOL_FIXES_REPORT.md
Owners: @credentum/docs-team, @credentum/platform-team

📊 MCP Tool Investigation & Implementation Report (#17)
  MCP_TOOL_FIXES_REPORT.md
Owners: @credentum/docs-team, @credentum/platform-team

fix: correct Redis client access pattern in ContextKV methods
  src/storage/context_kv.py
Owners: @credentum/platform-team

🔧 CRITICAL: Fix Redis client access pattern in ContextKV (#18)
  src/storage/context_kv.py
Owners: @credentum/platform-team

debug: add comprehensive logging to identify scratchpad storage exception root cause
  FINAL_SCRATCHPAD_INVESTIGATION_PLAN.md
  src/mcp_server/main.py
  src/storage/context_kv.py
Owners: @credentum/docs-team, @credentum/platform-team

🔍 DEBUG: Comprehensive logging for scratchpad storage exceptions (#19)
  FINAL_SCRATCHPAD_INVESTIGATION_PLAN.md
  src/mcp_server/main.py
  src/storage/context_kv.py
Owners: @credentum/docs-team, @credentum/platform-team

feat: implement direct Redis bypass for scratchpad operations
  src/mcp_server/main.py
  src/storage/simple_redis.py
Owners: @credentum/platform-team

🚀 FINAL FIX: Direct Redis bypass for scratchpad operations (#20)
  src/mcp_server/main.py
  src/storage/simple_redis.py
Owners: @credentum/platform-team

refactor: Remove Sprint 11 verification from dashboard, keep as standalone tests
  SPRINT_11_IMPLEMENTATION_PLAN.md
  scripts/test_dashboard.py
  src/monitoring/ascii_renderer.py
  src/monitoring/dashboard.py
  src/monitoring/dashboard_api.py
  src/monitoring/streaming.py
  tests/verification/README.md
  tests/verification/restore_drill.py
  tests/verification/run_all_tests.py
  tests/verification/tls_verifier.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat: Address PR feedback - comprehensive monitoring dashboard improvements
  SPRINT_11_IMPLEMENTATION_PLAN.md
  contracts/get_dashboard_metrics.json
  contracts/run_verification_tests.json
  contracts/stream_dashboard_updates.json
  docs/MONITORING_DASHBOARD.md
  src/monitoring/ascii_renderer.py
  src/monitoring/dashboard.py
  tests/verification/restore_drill.py
  tests/verification/tls_verifier.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat: Add comprehensive unit tests and code quality improvements for monitoring dashboard
  MONITORING_TESTS_SUMMARY.md
  src/monitoring/dashboard.py
  src/monitoring/dashboard_api.py
  src/monitoring/streaming.py
  tests/monitoring/test_ascii_renderer.py
  tests/monitoring/test_dashboard_api.py
  tests/monitoring/test_mcp_integration.py
  tests/monitoring/test_metrics_streamer.py
  tests/monitoring/test_unified_dashboard.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

Clean monitoring dashboard by removing Sprint 11 verification (#21)
  MONITORING_TESTS_SUMMARY.md
  SPRINT_11_IMPLEMENTATION_PLAN.md
  contracts/get_dashboard_metrics.json
  contracts/run_verification_tests.json
  contracts/stream_dashboard_updates.json
  docs/MONITORING_DASHBOARD.md
  scripts/test_dashboard.py
  src/monitoring/ascii_renderer.py
  src/monitoring/dashboard.py
  src/monitoring/dashboard_api.py
  src/monitoring/streaming.py
  tests/monitoring/test_ascii_renderer.py
  tests/monitoring/test_dashboard_api.py
  tests/monitoring/test_mcp_integration.py
  tests/monitoring/test_metrics_streamer.py
  tests/monitoring/test_unified_dashboard.py
  tests/verification/README.md
  tests/verification/restore_drill.py
  tests/verification/run_all_tests.py
  tests/verification/tls_verifier.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat(monitoring): integrate dashboard API endpoints into main MCP server
  src/mcp_server/main.py
  test_dashboard_endpoints.py
Owners: @credentum/platform-team

fix: resolve critical Veris Memory storage bugs
  VERIS_MEMORY_FIX_PLAN.md
  src/mcp_server/main.py
Owners: @credentum/docs-team, @credentum/platform-team

fix: resolve critical Veris Memory storage bugs
  src/mcp_server/main.py
Owners: @credentum/platform-team

test: add comprehensive unit tests for critical bug fixes
  tests/test_critical_bug_fixes.py
Owners: @credentum/qa-team

refactor: move critical bug fix tests to proper mcp_server directory
  tests/mcp_server/test_critical_bug_fixes.py
Owners: @credentum/qa-team

🚨 Fix Critical Storage Bugs - System Non-Functional (#23)
  src/mcp_server/main.py
  test_dashboard_endpoints.py
  tests/mcp_server/test_critical_bug_fixes.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: update workflow paths for reorganized structure
  .github/workflows/cve-scan.yml
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: update Dockerfile.flyio paths for reorganized structure
  docker/Dockerfile.flyio
Owners: @credentum/devops, @credentum/platform-team

fix: update deployment scripts for reorganized Docker file structure
  .github/workflows/deploy-prod-manual.yml
  scripts/deploy-environment.sh
  scripts/deploy-to-hetzner.sh
  scripts/deploy-with-bootstrap.sh
  scripts/hetzner-setup/fresh-server-setup.sh
  scripts/setup-auto-deployment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/senior-engineers

fix: update deployment scripts for reorganized Docker file structure (#26)
  .github/workflows/deploy-prod-manual.yml
  scripts/deploy-environment.sh
  scripts/deploy-to-hetzner.sh
  scripts/deploy-with-bootstrap.sh
  scripts/hetzner-setup/fresh-server-setup.sh
  scripts/setup-auto-deployment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/senior-engineers

fix: update dockerfile paths in docker-compose files
  docker/docker-compose.hetzner.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.test.yml
  docker/docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: update dockerfile paths in docker-compose files (#27)
  docker/docker-compose.hetzner.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.test.yml
  docker/docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: resolve Docker path truncation issue in deployment script
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

Fix Docker path truncation issue in deployment script (#28)
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: rename docker/ to dockerfiles/ to avoid Docker Compose path bug
  .github/workflows/cve-scan.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
  .github/workflows/parity-verification.yml
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.flyio
  dockerfiles/Dockerfile.flyio.single-stage
  dockerfiles/Dockerfile.hetzner
  dockerfiles/Dockerfile.python-only
  dockerfiles/Dockerfile.qdrant
  dockerfiles/docker-compose.debug.yml
  dockerfiles/docker-compose.hetzner.yml
  dockerfiles/docker-compose.prod.yml
  dockerfiles/docker-compose.simple.yml
  dockerfiles/docker-compose.test.yml
  dockerfiles/docker-compose.yml
  dockerfiles/supervisord.conf
  scripts/deploy-environment.sh
  scripts/deploy-hetzner.sh
  scripts/deploy-to-hetzner.sh
  scripts/deploy-with-bootstrap.sh
  scripts/security-scan.sh
  scripts/setup-auto-deployment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/senior-engineers

fix: update COPY path in Dockerfile.flyio to use dockerfiles/
  dockerfiles/Dockerfile.flyio
Owners: @credentum/devops, @credentum/platform-team

🚨 CRITICAL FIX: Rename docker/ to dockerfiles/ to fix deployment failures (#29)
  .github/workflows/cve-scan.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
  .github/workflows/parity-verification.yml
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.flyio
  dockerfiles/Dockerfile.flyio.single-stage
  dockerfiles/Dockerfile.hetzner
  dockerfiles/Dockerfile.python-only
  dockerfiles/Dockerfile.qdrant
  dockerfiles/docker-compose.debug.yml
  dockerfiles/docker-compose.hetzner.yml
  dockerfiles/docker-compose.prod.yml
  dockerfiles/docker-compose.simple.yml
  dockerfiles/docker-compose.test.yml
  dockerfiles/docker-compose.yml
  dockerfiles/supervisord.conf
  scripts/deploy-environment.sh
  scripts/deploy-hetzner.sh
  scripts/deploy-to-hetzner.sh
  scripts/deploy-with-bootstrap.sh
  scripts/security-scan.sh
  scripts/setup-auto-deployment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/senior-engineers

fix: add Dockerfile symlinks to work around Docker Compose path bug
  Dockerfile
  Dockerfile.flyio
  Dockerfile.flyio.single-stage
  Dockerfile.hetzner
  Dockerfile.python-only
  Dockerfile.qdrant
  dockerfiles/docker-compose.hetzner.yml
  dockerfiles/docker-compose.prod.yml
  dockerfiles/docker-compose.test.yml
  dockerfiles/docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

🔥 URGENT: Add Dockerfile symlinks to fix deployment (#30)
  Dockerfile
  Dockerfile.flyio
  Dockerfile.flyio.single-stage
  Dockerfile.hetzner
  Dockerfile.python-only
  Dockerfile.qdrant
  dockerfiles/docker-compose.hetzner.yml
  dockerfiles/docker-compose.prod.yml
  dockerfiles/docker-compose.test.yml
  dockerfiles/docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: properly restructure Docker files to resolve path resolution issues
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
  .github/workflows/parity-verification.yml
  Dockerfile
  Dockerfile.flyio
  Dockerfile.flyio.single-stage
  Dockerfile.hetzner
  Dockerfile.python-only
  Dockerfile.qdrant
  docker-compose.debug.yml
  docker-compose.hetzner.yml
  docker-compose.prod.yml
  docker-compose.simple.yml
  docker-compose.test.yml
  docker-compose.yml
  scripts/deploy-environment.sh
  scripts/deploy-hetzner.sh
  scripts/deploy-to-hetzner.sh
  scripts/deploy-with-bootstrap.sh
  scripts/setup-auto-deployment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/senior-engineers

✅ PROPER FIX: Restructure Docker files to standard layout (#31)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
  .github/workflows/parity-verification.yml
  Dockerfile
  Dockerfile.flyio
  Dockerfile.flyio.single-stage
  Dockerfile.hetzner
  Dockerfile.python-only
  Dockerfile.qdrant
  docker-compose.debug.yml
  docker-compose.hetzner.yml
  docker-compose.prod.yml
  docker-compose.simple.yml
  docker-compose.test.yml
  docker-compose.yml
  scripts/deploy-environment.sh
  scripts/deploy-hetzner.sh
  scripts/deploy-to-hetzner.sh
  scripts/deploy-with-bootstrap.sh
  scripts/setup-auto-deployment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/senior-engineers

refactor: complete root directory cleanup and organization
  .github/workflows/parity-verification.yml
  config/.ctxrc.docker.yaml
  config/.ctxrc.hetzner.yaml
  config/.ctxrc.yaml
  config/agent-schema.json
  config/production_locked_config.yaml
  config/production_recall_config.env
  dockerfiles/Dockerfile.flyio
  dockerfiles/Dockerfile.hetzner
  results/.task-request-1762.json
  results/production_t102_validation.json
  results/recall_boost_deployment.json
  results/recovery_report_1755123501.txt
  scripts/deploy-with-bootstrap.sh
  scripts/production_deploy.sh
  scripts/start-services.sh
  tests/test_dashboard_endpoints.py
  tools/fix_hanging_tests.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/qa-team

refactor: Complete root directory cleanup and file organization (#32)
  .github/workflows/parity-verification.yml
  config/.ctxrc.docker.yaml
  config/.ctxrc.hetzner.yaml
  config/.ctxrc.yaml
  config/agent-schema.json
  config/production_locked_config.yaml
  config/production_recall_config.env
  dockerfiles/Dockerfile.flyio
  dockerfiles/Dockerfile.hetzner
  results/.task-request-1762.json
  results/production_t102_validation.json
  results/recall_boost_deployment.json
  results/recovery_report_1755123501.txt
  scripts/deploy-with-bootstrap.sh
  scripts/production_deploy.sh
  scripts/start-services.sh
  tests/test_dashboard_endpoints.py
  tools/fix_hanging_tests.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/qa-team

fix: update Dockerfile paths for ctxrc files moved to config/ directory
  Dockerfile
  Dockerfile.flyio
  Dockerfile.hetzner
Owners: @credentum/devops, @credentum/platform-team

feat: Add local CI/CD coverage gates and test infrastructure
  LOCAL_CICD_SETUP.md
  Makefile
  TEST_COVERAGE_IMPROVEMENT_PLAN.md
  pytest.ini
  scripts/coverage-gate.sh
  scripts/coverage-summary.py
  scripts/simple-coverage-gate.sh
  tests/unit/test_new_request_models.py.disabled
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops, @credentum/senior-engineers, @credentum/qa-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
