Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

fix(sentinel): add cleanup to S2 golden fact recall to prevent database bloat (#399)
  scripts/sentinel/cleanup-sentinel-test-data.py
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  tests/monitoring/test_s2_golden_fact_recall.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(hyde): use free Grok model via OpenRouter by default
  src/core/hyde_generator.py
  tests/test_hyde_generator.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(sentinel): optimize check frequencies with CI/CD-only mode (#398)
  .env.sentinel.template
  .github/workflows/sentinel-comprehensive-tests.yml
  src/monitoring/sentinel/models.py
  src/monitoring/sentinel/runner.py
  tests/monitoring/sentinel/test_models.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team, @credentum/qa-team

feat(deploy): add OPENROUTER_API_KEY to deployment workflow
  .github/workflows/deploy-dev.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

feat(hyde): use free Grok model via OpenRouter (#400)
  .github/workflows/deploy-dev.yml
  scripts/deploy-dev.sh
  src/core/hyde_generator.py
  tests/test_hyde_generator.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/qa-team

fix(hyde): add HyDE env vars to docker-compose.deploy-dev.yml
  docker-compose.deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix(hyde): add HyDE env vars to docker-compose.deploy-dev.yml (#401)
  docker-compose.deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix(cicd): add real integration tests to sentinel CI/CD workflow
  .github/workflows/sentinel-comprehensive-tests.yml
  tests/integration/test_sentinel_checks_live.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix(hyde): add HyDE config to deploy-environment.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(cicd): add real integration tests to sentinel CI/CD workflow (#402)
  .github/workflows/sentinel-comprehensive-tests.yml
  tests/integration/test_sentinel_checks_live.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix(hyde): add HyDE config to deploy-environment.sh (#403)
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(sentinel): cleanup test data from ALL backends (Neo4j + Qdrant)
  .github/workflows/sentinel-comprehensive-tests.yml
  scripts/sentinel/cleanup-sentinel-test-data.py
  src/mcp_server/main.py
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  src/storage/qdrant_client.py
  tests/monitoring/test_s2_golden_fact_recall.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix(sentinel): cleanup test data from ALL backends (Neo4j + Qdrant) (#404)
  .github/workflows/sentinel-comprehensive-tests.yml
  scripts/sentinel/cleanup-sentinel-test-data.py
  src/mcp_server/main.py
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  src/storage/qdrant_client.py
  tests/monitoring/test_s2_golden_fact_recall.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

feat(sentinel): add HyDE health monitoring to S1
  src/mcp_server/main.py
  src/monitoring/sentinel/checks/s1_health_probes.py
  tests/monitoring/test_s1_hyde_health.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(sentinel): add HyDE health monitoring to S1 (#405)
  src/mcp_server/main.py
  src/monitoring/sentinel/checks/s1_health_probes.py
  tests/monitoring/test_s1_hyde_health.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(retrieval): integrate cross-encoder re-ranker into search pipeline (Phase 3.5)
  docker-compose.deploy-dev.yml
  scripts/deploy-environment.sh
  src/core/retrieval_core.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(retrieval): use standard time import at module level
  src/core/retrieval_core.py
Owners: @credentum/platform-team

feat(retrieval): integrate cross-encoder re-ranker (Phase 3.5) (#406)
  docker-compose.deploy-dev.yml
  scripts/deploy-environment.sh
  src/core/retrieval_core.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(memory_result): remove score <= 1.0 constraint blocking cross-encoder
  src/interfaces/memory_result.py
Owners: @credentum/platform-team

fix(memory_result): remove score <= 1.0 constraint blocking cross-encoder (#407)
  src/interfaces/memory_result.py
Owners: @credentum/platform-team

fix(memory_result): remove score <= 1.0 constraint blocking cross-encoder
  docker-compose.yml
  src/interfaces/memory_result.py
Owners: @credentum/devops, @credentum/platform-team

fix: add HyDE and cross-encoder env vars to docker-compose.yml
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: add HyDE and cross-encoder env vars to docker-compose.yml (#408)
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: resolve retrieval issues and add debug endpoints
  src/core/query_dispatcher.py
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix: resolve retrieval issues and add debug endpoints (#409)
  src/core/query_dispatcher.py
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix: use correct reranker health check attributes
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix: use correct reranker health check attributes
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix: use correct reranker health check attributes (#410)
  src/mcp_server/main.py
Owners: @credentum/platform-team

feat(secrets): add API_KEY_HERALD to deployment pipeline
  .github/workflows/deploy-dev.yml
  docker-compose.deploy-dev.yml
  docker-compose.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

feat(secrets): add API_KEY_HERALD to deployment pipeline (#411)
  .github/workflows/deploy-dev.yml
  docker-compose.deploy-dev.yml
  docker-compose.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(hyde): change model from grok to Mistral Small
  docker-compose.deploy-dev.yml
  docker-compose.yml
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
  src/core/hyde_generator.py
  tests/test_hyde_generator.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/qa-team

fix(hyde): change model from grok to Mistral Small (#412)
  docker-compose.deploy-dev.yml
  docker-compose.yml
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
  src/core/hyde_generator.py
  tests/test_hyde_generator.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/qa-team

fix(rate-limit): exempt MCP API key from rate limiting
  src/api/rate_limit_middleware.py
Owners: @credentum/platform-team

fix(secrets): correct Herald/Research API key variable names
  .github/workflows/deploy-dev.yml
  docker-compose.deploy-dev.yml
  docker-compose.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix: add VERIS_MEMORY_API_KEY to deployment pipeline
  .github/workflows/deploy-dev.yml
  docker-compose.deploy-dev.yml
  docker-compose.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(secrets): correct Herald/Research API key variable names (#414)
  .github/workflows/deploy-dev.yml
  docker-compose.deploy-dev.yml
  docker-compose.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(deploy): append secrets AFTER deploy-environment.sh runs
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): append secrets AFTER deploy-environment.sh runs (#415)
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

refactor(deploy): consolidate .env management, remove 500 lines of dead code
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

chore: add Claude Code optimized issue template
  .github/ISSUE_TEMPLATE/claude-code-task.yml
Owners: @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
