Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

refactor(deploy): consolidate .env management, remove 500 lines of dead code (#417)
  scripts/deploy-dev.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

chore: add Logspout for centralized container log aggregation
  docker-compose.dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: add Logspout for centralized container log aggregation (#422)
  docker-compose.dev.yml
Owners: @credentum/devops, @credentum/platform-team

security: use docker-socket-proxy for limited Docker API access
  docker-compose.dev.yml
Owners: @credentum/devops, @credentum/platform-team

security: use docker-socket-proxy for limited Docker API access
  docker-compose.dev.yml
Owners: @credentum/devops, @credentum/platform-team

security: use docker-socket-proxy for limited Docker API access (#423)
  docker-compose.dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: resolve YAML syntax error in sentinel-alert-response.yml
  .github/workflows/sentinel-alert-response.yml
Owners: @credentum/devops, @credentum/platform-team

fix: resolve YAML syntax error in sentinel-alert-response.yml (#424)
  .github/workflows/sentinel-alert-response.yml
Owners: @credentum/devops, @credentum/platform-team

chore: add logspout to docker-compose.deploy-dev.yml
  docker-compose.deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: remove unused docker-compose.dev.yml
  CVE_AUTOMATION_ANALYSIS.md
  README.md
  SECURITY_AUDIT_CREDENTIALS.md
  docker-compose.dev.yml
  docs/deployment/README.md
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops

chore: add logspout to docker-compose.deploy-dev.yml (#425)
  docker-compose.deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: remove unused docker-compose.dev.yml (#426)
  CVE_AUTOMATION_ANALYSIS.md
  README.md
  SECURITY_AUDIT_CREDENTIALS.md
  docker-compose.dev.yml
  docs/deployment/README.md
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops

fix: add pytest-timeout to requirements-dev.txt
  requirements-dev.txt
Owners: @credentum/platform-team

fix: add pytest-timeout to requirements-dev.txt (#427)
  requirements-dev.txt
Owners: @credentum/platform-team

fix: minimal-downtime deployment (20+ min → ~30 sec)
  .github/workflows/deploy-dev.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix: minimal-downtime deployment (20+ min → ~30 sec) (#428)
  .github/workflows/deploy-dev.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix: use syslog-ng for log aggregation (logspout file adapter not supported)
  config/syslog-ng.conf
  docker-compose.deploy-dev.yml
Owners: @credentum/platform-team, @credentum/devops

security: add SHA256 digest pinning to docker images
  docker-compose.deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: use syslog-ng for log aggregation (logspout file adapter not supported) (#429)
  config/syslog-ng.conf
  docker-compose.deploy-dev.yml
Owners: @credentum/platform-team, @credentum/devops

fix: set readable permissions on syslog log file
  config/syslog-ng.conf
Owners: @credentum/platform-team

fix: set readable permissions on syslog log file (#430)
  config/syslog-ng.conf
Owners: @credentum/platform-team

fix: register Herald/Research API keys with writer role
  docker-compose.deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: register Herald/Research API keys with writer role (#431)
  docker-compose.deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
