Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

fix: Minimal changes to address PR review issues
  src/monitoring/sentinel/base_check.py
  tests/test_neo4j_client_business_logic.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Address final PR review feedback
  dockerfiles/Dockerfile
  src/monitoring/sentinel/base_check.py
Owners: @credentum/devops, @credentum/platform-team

fix: Include metadata field separately in retrieve_context responses
  scripts/apply_metadata_fix.sh
  src/mcp_server/main.py
  tests/test_metadata_retrieval.py
Owners: @credentum/devops, @credentum/senior-engineers, @credentum/platform-team, @credentum/qa-team

fix: Address PR review feedback for metadata retrieval
  scripts/apply_metadata_fix.sh
  src/mcp_server/main.py
  tests/test_metadata_retrieval.py
Owners: @credentum/devops, @credentum/senior-engineers, @credentum/platform-team, @credentum/qa-team

fix: restore backend functionality - all 4 phases
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix: resolve syntax errors and code quality issues
  src/mcp_server/main.py
Owners: @credentum/platform-team

test: add comprehensive tests and fix security warnings
  context/mcp_contracts/store_context_tool.json
  src/mcp_server/main.py
  tests/mcp_server/test_backend_restoration.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: address test execution, compatibility, and reliability issues
  src/mcp_server/main.py
  tests/mcp_server/test_backend_restoration.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: add observability, fix cache TTL, and improve type hints
  src/mcp_server/main.py
Owners: @credentum/platform-team

feat: add comprehensive cache metrics and monitoring integration
  docs/MONITORING_INTEGRATION.md
  src/mcp_server/main.py
Owners: @credentum/docs-team, @credentum/platform-team

fix: remove hash fallback, add MCP validation and metrics tests
  src/mcp_server/main.py
  tests/mcp_server/test_backend_restoration.py
  tests/test_mcp_contract_validation.py
Owners: @credentum/platform-team, @credentum/qa-team

docs: add post-PR #170 configuration and deployment guide
  .env.example
  .env.hetzner.template
  .env.production.template
  docker-compose.yml
  docs/deployment/LOAD_TEST_RESULTS.md
  docs/deployment/POST_PR170_SETUP.md
  tests/load_test_deployment.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

feat: add comprehensive test suite and fix critical bugs
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
  docs/deployment/POST_PR170_SETUP.md
  docs/testing/COMPREHENSIVE_TEST_RESULTS.md
  docs/testing/COMPREHENSIVE_TEST_SUITE.md
  docs/testing/TEST_COVERAGE_COMPARISON.md
  src/mcp_server/main.py
  tests/comprehensive_system_test.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

fix: fix relationship creation and Neo4j index deployment
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
  src/mcp_server/main.py
Owners: @credentum/devops, @credentum/platform-team

fix: use environment variable for Neo4j password in index creation
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
Owners: @credentum/devops, @credentum/platform-team

fix: use environment variable for Neo4j password in index creation
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
Owners: @credentum/devops, @credentum/platform-team

fix: automate PR #170 environment variables in deployment
  .env.hetzner
  .github/workflows/deploy-dev.yml
  verification_post_pr173.json
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team

fix: escape NEO4J_PASSWORD variable in heredoc for proper expansion
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
Owners: @credentum/devops, @credentum/platform-team

fix: escape NEO4J_PASSWORD variable in heredoc for proper expansion
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
Owners: @credentum/devops, @credentum/platform-team

fix: prevent duplicate PR #170 variables in .env on redeployment
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix: serialize Neo4j DateTime objects in query results
  src/storage/neo4j_client.py
Owners: @credentum/platform-team

fix(tests): correct field name in Context ID Index test
  tests/comprehensive_system_test.py
Owners: @credentum/qa-team

docs: Add comprehensive system status and recent work summary
  CURRENT_STATUS.md
Owners: @credentum/docs-team, @credentum/platform-team

docs: Add reference guide for documentation stored in Veris Memory
  AGENT_MEMORY_REFERENCE.md
Owners: @credentum/docs-team, @credentum/platform-team

feat(voice-bot): Complete Sprint 1 implementation with testing and deployment
  .env.example
  docker-compose.yml
  docs/voice-platform/SPRINT13_INTEGRATION_TEST_NOTE.md
  voice-bot/STT_TTS_IMPLEMENTATION_GUIDE.md
  voice-bot/pytest.ini
  voice-bot/scripts/validate_sprint1.sh
  voice-bot/tests/conftest.py
  voice-bot/tests/test_config.py
  voice-bot/tests/test_main.py
  voice-bot/tests/test_memory_client.py
  voice-bot/tests/test_voice_handler.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

feat(voice-bot): configure OpenAI Whisper/TTS and LiveKit Cloud deployment
  .env.example
  .github/workflows/deploy-dev.yml
  docker-compose.yml
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team

fix: Add API_KEY_MCP to deployment workflow (Sprint 13 authentication)
  .env.example
  .github/workflows/deploy-dev.yml
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team

fix(security): Address all security and code quality issues in voice-bot
  .env.example
  docker-compose.yml
  voice-bot/Dockerfile
  voice-bot/app/config.py
  voice-bot/app/main.py
  voice-bot/app/memory_client.py
  voice-bot/requirements.txt
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team

fix(voice-bot): Address remaining code quality and minor issues
  voice-bot/app/main.py
  voice-bot/app/voice_handler.py
  voice-bot/pytest.ini
Owners: @credentum/platform-team

fix(deploy): Fix workflow file size limit by extracting deployment script
  .github/workflows/deploy-dev.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix(deploy): Fix workflow file size limit by extracting deployment script
  .github/workflows/deploy-dev.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix: Pass environment variables through SSH to remote server
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Pass environment variables through SSH to remote server
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Show actual Docker Compose error output in deploy script
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Capture and display actual Docker Compose error output
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Disable set -e temporarily to capture Docker Compose errors
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Update voice-bot Dockerfile to current python:3.11-slim digest
  voice-bot/Dockerfile
Owners: @credentum/devops, @credentum/platform-team

fix: Correct SHA256 digest length for python:3.11-slim (typo fix)
  voice-bot/Dockerfile
Owners: @credentum/devops, @credentum/platform-team

fix: Replace deprecated livekit-server-sdk with livekit-api
  voice-bot/requirements.txt
Owners: @credentum/platform-team

fix: Add missing LiveKit server configuration file
  docker/livekit/config.yaml
Owners: @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
