Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team

fix(docker): Update backup paths to match actual server structure
  docker-compose.yml
  src/monitoring/sentinel/checks/s6_backup_restore.py
  tests/monitoring/test_s6_inaccessible_backups.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix(sentinel): Add missing get_host_check_result method to SentinelAPI (S11 fix)
  src/monitoring/sentinel/api.py
  tests/monitoring/test_sentinel_api_host_checks.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(sentinel): Fix S1 timeout by adding explicit timeouts and headers
  src/monitoring/sentinel/base_check.py
  src/monitoring/sentinel/checks/s1_health_probes.py
Owners: @credentum/platform-team

fix(sentinel): Exclude Restic repo from S6 SQL backup validation
  src/monitoring/sentinel/checks/s6_backup_restore.py
Owners: @credentum/platform-team

fix(api): Add REST DELETE endpoint for context deletion
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(deploy): Standardize ENVIRONMENT values to development/production
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Update deploy-dev.sh to use 'development' not 'dev'
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

hotfix(deploy): Fix deploy-dev.sh to use 'development' not 'dev'
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Fix deployment-report.sh PROJECT_NAME mapping
  scripts/deployment-report.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deploy): Fix deployment-report.sh PROJECT_NAME mapping
  scripts/deployment-report.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(neo4j): Add retry logic for 'Session is closed' errors
  src/storage/neo4j_client.py
Owners: @credentum/platform-team

Fix Neo4j retry logic: Add missing logger and test coverage
  src/storage/neo4j_client.py
  tests/storage/test_neo4j_client.py
Owners: @credentum/platform-team, @credentum/qa-team

Add S6 backup retention cleanup script
  scripts/backup-retention-cleanup.sh
Owners: @credentum/devops, @credentum/senior-engineers

Add S11 host-based firewall monitoring script
  scripts/sentinel-host-checks.sh
Owners: @credentum/devops, @credentum/senior-engineers

Lower S3 and S9 validation thresholds for realistic data
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/platform-team

Add S5/S8 Sentinel investigation guide documentation
  docs/SENTINEL_S5_S8_INVESTIGATION_GUIDE.md
Owners: @credentum/docs-team

Fix S11 script: Add test coverage, shellcheck, and validation
  .pre-commit-config.yaml
  scripts/sentinel-host-checks.sh
  tests/scripts/test_sentinel_host_checks.bats
Owners: @credentum/platform-team, @credentum/devops, @credentum/senior-engineers, @credentum/qa-team

Fix S11 API endpoint URL: Remove incorrect /api/v1 prefix
  scripts/sentinel-host-checks.sh
Owners: @credentum/devops, @credentum/senior-engineers

Update docs: Correct S11 API endpoint URL in summary
  SENTINEL_FIXES_SUMMARY.md
Owners: @credentum/docs-team, @credentum/platform-team

Add S5 security fixes: Rate limiting and metrics endpoint protection
  requirements.txt
  src/api/main.py
  src/api/routes/metrics.py
  src/api/routes/search.py
  tests/api/test_security.py
Owners: @credentum/platform-team, @credentum/qa-team

Adjust S8 CV threshold and exclude cold start from variability calculation
  src/monitoring/sentinel/checks/s8_capacity_smoke.py
  tests/monitoring/test_capacity_smoke.py
Owners: @credentum/platform-team, @credentum/qa-team

Fix S5 security gaps and improve code quality
  src/api/main.py
  src/api/routes/metrics.py
  src/api/routes/search.py
  tests/api/test_security.py
Owners: @credentum/platform-team, @credentum/qa-team

Fix deployment SSH timeout during Docker builds
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(security): Add root-level /metrics endpoints and global rate limiting
  src/api/main.py
  tests/api/test_security.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(security): Address code review issues for S5 fixes
  src/api/main.py
  src/api/routes/metrics.py
  tests/api/test_security.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: register Text backend to enable hybrid search with multiple sources (#311)
  docs/issue-311-implementation-summary.md
  docs/issue-311-investigation-plan.md
  src/core/query_dispatcher.py
  src/interfaces/memory_result.py
  src/mcp_server/main.py
Owners: @credentum/docs-team, @credentum/platform-team

fix: address code review feedback for issue #311
  docs/issue-311-implementation-summary.md
  docs/issue-311-investigation-plan.md
  src/core/query_dispatcher.py
  src/interfaces/memory_result.py
  tests/backends/test_query_dispatcher.py
  tests/mcp_server/test_unified_backend_initialization.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

fix(security): CRITICAL - Fix S5 test failures with SlowAPIMiddleware and endpoint removal
  src/api/main.py
  src/api/routes/search.py
  tests/api/test_security.py
Owners: @credentum/platform-team, @credentum/qa-team

hotfix: Fix SlowAPIMiddleware TypeError - use application_limits instead
  src/api/main.py
Owners: @credentum/platform-team

fix(sentinel): Remove broken embedding_similarity test and adjust thresholds
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
Owners: @credentum/platform-team

fix(security): S5 rate limiting on ALL requests including 405/404
  src/api/main.py
  src/api/rate_limit_middleware.py
  src/monitoring/sentinel/checks/s5_security_negatives.py
  tests/api/test_security.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(test): Update tests and remove dead code after embedding_similarity removal
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  tests/monitoring/test_paraphrase_robustness.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(test): Update tests and remove dead code after embedding_similarity removal
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  tests/monitoring/test_paraphrase_robustness.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(test): Add comprehensive unit tests and production warning for rate limit middleware
  src/api/rate_limit_middleware.py
  tests/api/test_rate_limit_middleware.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(security): Upgrade production warning to CRITICAL and add test execution notes
  src/api/rate_limit_middleware.py
  tests/api/test_rate_limit_middleware.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(security): CRITICAL S5 security fixes - admin endpoints and rate limiting
  src/api/routes/admin.py
  src/mcp_server/main.py
  src/mcp_server/rest_compatibility.py
Owners: @credentum/platform-team

feat(monitoring): Add comprehensive diagnostic logging to S3 paraphrase robustness tests
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
Owners: @credentum/platform-team

test: Add comprehensive S5 security test coverage addressing code review
  src/mcp_server/main.py
  tests/api/routes/__init__.py
  tests/api/routes/test_admin.py
  tests/mcp_server/test_rest_compatibility.py
  tests/mcp_server/test_rest_compatibility_security.py
  tests/security/test_s5_compliance.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(monitoring): Add comprehensive diagnostic logging to S3 paraphrase robustness tests
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
Owners: @credentum/platform-team

fix(logging): Use lazy logging format and add comprehensive tests for S3 diagnostics
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  tests/monitoring/test_paraphrase_robustness.py
Owners: @credentum/platform-team, @credentum/qa-team
