Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

feat(deployment): Add automated Hetzner deployment scripts
  docker-compose.prod.yml
  scripts/deploy-to-hetzner.sh
  scripts/health-check.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead, @credentum/senior-engineers

feat(security): Deploy Sprint 10 Phase 3 - Enterprise Security Suite
  requirements.txt
  src/security/compliance_reporter.py
  src/security/headers.py
  src/security/input_validator.py
  src/security/port_filter.py
  src/security/secrets_manager.py
  src/security/security_scanner.py
  src/security/waf.py
  tests/security/test_compliance_reporter.py
  tests/security/test_rbac.py
  tests/security/test_secrets_manager.py
  tests/security/test_security_scanner.py
  tests/security/test_synthetic_abuse.py
  tests/security/test_waf.py
Owners: @credentum/platform-team, @credentum/security-team, @credentum/platform-lead, @credentum/qa-team

chore: sync from agent-context-template - Docker platform fixes
  docker-compose.yml
  src/auth/rbac.py
  src/auth/token_validator.py
  src/mcp_server/rbac_middleware.py
  src/monitoring/__init__.py
  src/monitoring/metrics_collector.py
  src/monitoring/security_monitor.py
  tests/monitoring/__init__.py
  tests/monitoring/test_security_monitor.py
  tests/performance/test_performance_benchmark.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/security-team, @credentum/platform-lead, @credentum/qa-team

chore: sync from agent-context-template
  docker-compose.yml
  requirements.txt
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  README.md
Owners: @credentum/docs-team, @credentum/platform-team

chore: sync from agent-context-template
  .claude/config/workflow-enforcement.yaml
  .coveragerc
  .ctxrc.hetzner.yaml
  .ctxrc.yaml
  .ctxrc.yaml.example
  .env.example
  .env.hetzner
  .env.hetzner.template
  .flake8
  .gitattributes
  .github/branch-protection.yml
  .github/scripts/format_correction.py
  .github/scripts/process_automation_yaml.py
  .github/scripts/process_claude_review.py
  .github/scripts/process_follow_up_issues.py
  .gitignore
  .pre-commit-config.yaml
  .task-request-1762.json
  README.md
Owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/security-team, @credentum/platform-lead, @credentum/docs-team

chore: sync from agent-context-template
  .github/workflows/claude-code-review.yml
  .github/workflows/cve-scan.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
  .github/workflows/parity-verification.yml
  README.md
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod-manual.yml
  .github/workflows/parity-verification.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
  ops/bootstrap/qdrant_bootstrap.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
  ops/verify/manifest_verifier.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team, @credentum/senior-engineers

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
  ops/verify/manifest_verifier.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team, @credentum/senior-engineers

chore: sync from agent-context-template
  .github/workflows/parity-verification.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  Dockerfile
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  .github/workflows/deploy-dev.yml
  Dockerfile.qdrant
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  Dockerfile.qdrant
Owners: @credentum/devops, @credentum/platform-team

chore: sync from agent-context-template
  Dockerfile.qdrant
Owners: @credentum/devops, @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
