Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team

feat: Add comprehensive firewall configuration and monitoring (#90)
  .github/workflows/deploy-dev.yml
  scripts/setup-firewall.sh
  scripts/update-firewall-rules.sh
  src/monitoring/sentinel/checks/__init__.py
  src/monitoring/sentinel/checks/s11_firewall_status.py
  src/monitoring/sentinel/models.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers

feat: Deploy both MCP server and FastAPI REST API as complementary services
  DUAL_SERVICE_ARCHITECTURE.md
  docker-compose.yml
  src/api/main.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops

feat: Update firewall configuration for dual-service deployment
  scripts/setup-firewall.sh
  scripts/update-firewall-rules.sh
  src/monitoring/sentinel/checks/s11_firewall_status.py
Owners: @credentum/devops, @credentum/senior-engineers, @credentum/platform-team

feat: Deploy both MCP server and FastAPI REST API as complementary services (#91)
  DUAL_SERVICE_ARCHITECTURE.md
  docker-compose.yml
  scripts/setup-firewall.sh
  scripts/update-firewall-rules.sh
  src/api/main.py
  src/monitoring/sentinel/checks/s11_firewall_status.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops, @credentum/senior-engineers

feat: Implement Option A - Simplify firewall configuration to use only setup script
  .github/workflows/deploy-dev.yml
  scripts/setup-firewall.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers

feat: Implement Option A - Simplify firewall configuration to single source of truth (#92)
  .github/workflows/deploy-dev.yml
  scripts/setup-firewall.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers

fix: Use mock backends in API to resolve startup failure
  src/api/main.py
Owners: @credentum/platform-team

fix: Use mock backends in API to resolve startup failure (#93)
  src/api/main.py
Owners: @credentum/platform-team

fix: Create dedicated Dockerfile for API with correct healthcheck
  docker-compose.yml
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: Create dedicated Dockerfile for API with correct healthcheck (#94)
  docker-compose.yml
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: Use Python for API healthcheck instead of curl
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: Use Python for API healthcheck instead of curl
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: Use Python for API healthcheck instead of curl (#96)
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: Simplify API healthcheck to just verify Python works
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: Simplify API healthcheck to basic Python check for debugging
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: Simplify API healthcheck to basic Python check (#98)
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: Use netcat for API healthcheck instead of Python
  dockerfiles/Dockerfile.api
Owners: @credentum/devops, @credentum/platform-team

fix: Configure API health checks to use Docker service names
  dockerfiles/Dockerfile.api
  src/api/routes/health.py
Owners: @credentum/devops, @credentum/platform-team

fix: Update health check endpoints to match actual service APIs
  src/health/endpoints.py
Owners: @credentum/senior-engineers, @credentum/sre

fix: Fix docker-compose healthcheck override issue
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Complete API health check fixes
  src/api/routes/health.py
Owners: @credentum/platform-team

fix: Use environment variables for service connections in Docker
  src/core/utils.py
  src/storage/kv_store.py
  src/storage/simple_redis.py
Owners: @credentum/platform-team

fix: Add Neo4j password synchronization script
  scripts/neo4j-password-fix.sh
Owners: @credentum/security-team, @credentum/platform-lead

fix: resolve Sentinel container startup errors
  scripts/telegram-setup.sh
  src/monitoring/sentinel/checks/s11_firewall_status.py
  src/monitoring/sentinel/models.py
Owners: @credentum/devops, @credentum/senior-engineers, @credentum/platform-team

fix: properly implement S11FirewallStatus as BaseCheck subclass
  .github/workflows/deploy-dev.yml
  src/monitoring/sentinel/checks/s11_firewall_status.py
Owners: @credentum/devops, @credentum/platform-team

fix: update API health check to use liveness endpoint
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: improve Telegram configuration in deploy-dev workflow
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

Fix Docker deployment health checks and service connections (#101)
  .github/workflows/deploy-dev.yml
  docker-compose.yml
  dockerfiles/Dockerfile.api
  scripts/neo4j-password-fix.sh
  scripts/telegram-setup.sh
  src/api/routes/health.py
  src/core/utils.py
  src/health/endpoints.py
  src/monitoring/sentinel/checks/s11_firewall_status.py
  src/monitoring/sentinel/models.py
  src/storage/kv_store.py
  src/storage/simple_redis.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/security-team, @credentum/platform-lead, @credentum/senior-engineers, @credentum/sre

fix(sentinel): Update target URL to FastAPI port 8001
  src/monitoring/sentinel/models.py
Owners: @credentum/platform-team

fix(sentinel): Update target URL to FastAPI port 8001 (#102)
  src/monitoring/sentinel/models.py
Owners: @credentum/platform-team

feat(sentinel): Implement GitHub Actions webhook integration (Phase 1)
  .github/workflows/sentinel-alert-response.yml
  WEBHOOK_GITHUB_ACTIONS_CLAUDE_INTEGRATION_PLAN.md
  WEBHOOK_INTEGRATION_README.md
  scripts/test-webhook-integration.py
  src/monitoring/sentinel/alert_manager.py
  src/monitoring/sentinel/webhook_alerter.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

feat(diagnostics): Implement Phase 2 advanced diagnostics infrastructure
  PHASE2_ENHANCED_DIAGNOSTICS_PLAN.md
  scripts/advanced-diagnostics/health_analyzer.py
  scripts/advanced-diagnostics/log_collector.py
Owners: @credentum/docs-team, @credentum/platform-team

fix: resolve 99% error rate and backend fragmentation in memory system
  docker-compose.yml
  src/api/main.py
  src/mcp_server/main.py
  tools/sentinel-watchdog.sh
  tools/setup-sentinel-watchdog.sh
Owners: @credentum/devops, @credentum/platform-team

feat: Complete Phase 2 Enhanced Diagnostics System
  .github/workflows/sentinel-alert-response.yml
  scripts/advanced-diagnostics/dependency_mapper.py
  scripts/advanced-diagnostics/health_analyzer.py
  scripts/advanced-diagnostics/intelligence_synthesizer.py
  scripts/advanced-diagnostics/log_collector.py
  scripts/advanced-diagnostics/metrics_collector.py
  scripts/test-enhanced-diagnostics.py
Owners: @credentum/devops, @credentum/platform-team

fix: resolve 99% error rate and backend fragmentation in memory system (#104)
  docker-compose.yml
  src/api/main.py
  src/mcp_server/main.py
  tools/sentinel-watchdog.sh
  tools/setup-sentinel-watchdog.sh
Owners: @credentum/devops, @credentum/platform-team

hotfix: fix API service import errors
  src/api/main.py
Owners: @credentum/platform-team

🚨 HOTFIX: API Service Import Errors (#105)
  src/api/main.py
Owners: @credentum/platform-team

feat: Complete Phase 3 Claude Code SSH Integration with Script Organization
  .github/workflows/sentinel-alert-response.yml
  PHASE3_COMPLETION_SUMMARY.md
  docs/phase3-architecture.md
  scripts/sentinel/README.md
  scripts/sentinel/advanced-diagnostics/dependency_mapper.py
  scripts/sentinel/advanced-diagnostics/health_analyzer.py
  scripts/sentinel/advanced-diagnostics/intelligence_synthesizer.py
  scripts/sentinel/advanced-diagnostics/log_collector.py
  scripts/sentinel/advanced-diagnostics/metrics_collector.py
  scripts/sentinel/automated-debugging-workflows.py
  scripts/sentinel/claude-code-launcher.py
  scripts/sentinel/deploy-monitoring-production.sh
  scripts/sentinel/intelligent-fix-generator.py
  scripts/sentinel/sentinel-entrypoint.sh
  scripts/sentinel/sentinel-main.py
  scripts/sentinel/test-enhanced-diagnostics.py
  scripts/sentinel/test-sentinel.py
  scripts/sentinel/test_telegram_alerts.py
  scripts/sentinel/validate-monitoring-deployment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

fix: Resolve YAML syntax error in GitHub Actions workflow
  .github/workflows/sentinel-alert-response.yml
Owners: @credentum/devops, @credentum/platform-team

hotfix: correct backend import statements in API service
  src/api/main.py
Owners: @credentum/platform-team
