Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team

Update README.md
  README.md
Owners: @credentum/docs-team, @credentum/platform-team

Update README.md (#60)
  README.md
Owners: @credentum/docs-team, @credentum/platform-team

fix: add embedding dimension padding for sentence-transformers compatibility
  src/mcp_server/main.py
Owners: @credentum/platform-team

🧠 Public/Shareable Memory Implementation Plan (#59)
  docs/PUBLIC_MEMORY_IMPLEMENTATION.md
  docs/PUBLIC_MEMORY_QUICK_START.md
  src/mcp_server/main.py
  src/mcp_server/server.py
Owners: @credentum/docs-team, @credentum/platform-team

feat: implement robust embedding service with Phase 2 & 3 enhancements
  src/embedding/__init__.py
  src/embedding/service.py
  src/mcp_server/main.py
  tests/test_embedding_service.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: enable monitoring dashboard access via Docker network
  docker-compose.yml
  docs/MONITORING_DASHBOARD.md
  requirements.txt
  src/monitoring/__main__.py
  src/monitoring/dashboard_api.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

fix: enable monitoring dashboard access via Docker network (#63)
  docker-compose.yml
  docs/MONITORING_DASHBOARD.md
  requirements.txt
  src/monitoring/__main__.py
  src/monitoring/dashboard_api.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

feat: comprehensive improvements to embedding service
  src/embedding/service.py
  src/mcp_server/main.py
  tests/test_embedding_service.py
  tests/test_mcp_server_integration.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: resolve test threshold issues and improve integration tests
  tests/test_mcp_server_integration.py
Owners: @credentum/qa-team

fix: correct opentelemetry-exporter-prometheus version to prevent build failures
  requirements.txt
Owners: @credentum/platform-team

fix: correct opentelemetry-exporter-prometheus version to prevent build failures (#64)
  requirements.txt
Owners: @credentum/platform-team

feat: robust embedding service with Phase 2 & 3 enhancements (#62)
  src/embedding/__init__.py
  src/embedding/service.py
  src/mcp_server/main.py
  tests/test_embedding_service.py
  tests/test_mcp_server_integration.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: correct monitoring dashboard Docker command
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: correct monitoring dashboard Docker command (#65)
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: resolve PR blocking issues
  .github/workflows/cve-scan.yml
  .github/workflows/parity-verification.yml
  tests/test_docker_build.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix: address MCP metrics tracking code quality issues
  src/mcp_server/server.py
  tests/mcp_server/test_metrics_tracking.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Add metrics tracking to MCP tool calls (#58)
  .github/workflows/cve-scan.yml
  .github/workflows/parity-verification.yml
  src/mcp_server/server.py
  tests/mcp_server/test_metrics_tracking.py
  tests/test_docker_build.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

fix: Improve search result ordering and scoring
  src/mcp_server/server.py
Owners: @credentum/platform-team

fix: Change default sort to timestamp since relevance was broken
  src/mcp_server/server.py
Owners: @credentum/platform-team

test: Add comprehensive tests and validation for search sorting
  src/mcp_server/server.py
  tests/mcp_server/test_search_sorting.py
  tests/mcp_server/test_sorting_validation.py
Owners: @credentum/platform-team, @credentum/qa-team

docs: Add comprehensive documentation for sort_by parameter
  contracts/retrieve_context.json
  docs/api/SORT_BY_PARAMETER.md
  src/mcp_server/server.py
Owners: @credentum/platform-team, @credentum/docs-team

chore: temporarily disable test coverage checks in Claude code review workflow
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

chore: temporarily disable test coverage checks in Claude code review workflow (#67)
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

fix: resolve YAML syntax error in Claude code review workflow
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

Fix: Improve search result ordering and add timestamp sorting (#66)
  contracts/retrieve_context.json
  docs/api/SORT_BY_PARAMETER.md
  src/mcp_server/server.py
  tests/mcp_server/test_search_sorting.py
  tests/mcp_server/test_sorting_validation.py
Owners: @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

fix: Start metrics queue processor on server startup
  src/mcp_server/main.py
Owners: @credentum/platform-team

Fix YAML syntax error in Claude code review workflow (#68)
  .github/workflows/claude-code-review.yml
  src/mcp_server/main.py
Owners: @credentum/devops, @credentum/platform-team

fix: Add proper validation for sort_by parameter
  src/mcp_server/main.py
  src/mcp_server/simple_server.py
  tests/mcp_server/test_sort_by_validation_fix.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Add backup/restore to deploy-dev workflow to prevent data loss
  .github/workflows/deploy-dev.yml
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers

fix: Add backup/restore to deploy-dev workflow to prevent data loss (#71)
  .github/workflows/deploy-dev.yml
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers

feat: Comprehensive improvements to sort_by validation
  context/mcp_contracts/retrieve_context_tool.json
  docs/MCP_TOOLS.md
  src/mcp_server/main.py
  src/mcp_server/models.py
  tests/mcp_server/test_sort_by_validation_fix.py
Owners: @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

Fix: Add proper validation for sort_by parameter (#70)
  context/mcp_contracts/retrieve_context_tool.json
  docs/MCP_TOOLS.md
  src/mcp_server/main.py
  src/mcp_server/models.py
  src/mcp_server/simple_server.py
  tests/mcp_server/test_sort_by_validation_fix.py
Owners: @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

feat: Major improvements to backup/restore system reliability
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

feat: Major improvements to backup/restore system reliability (#72)
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

feat(search): Implement search enhancements to fix workspace 001 issues
  SEARCH_ENHANCEMENT_IMPLEMENTATION_PLAN.md
  src/mcp_server/search_enhancements.py
  src/mcp_server/server.py
  tests/mcp_server/test_search_enhancements.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

feat(search): Implement search enhancements to fix workspace 001 issues (#73)
  SEARCH_ENHANCEMENT_IMPLEMENTATION_PLAN.md
  src/mcp_server/search_enhancements.py
  src/mcp_server/server.py
  tests/mcp_server/test_search_enhancements.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

fix: critical storage bug - ensure data persistence and fix response mapping
  src/mcp_server/server.py
  tests/mcp_server/test_storage_bug_fix.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: critical storage bug - ensure data persistence and fix response mapping (#74)
  src/mcp_server/server.py
  tests/mcp_server/test_storage_bug_fix.py
Owners: @credentum/platform-team, @credentum/qa-team

feat(sentinel): Implement Telegram alerting for Sentinel monitoring
  .env.sentinel.template
  scripts/test_telegram_alerts.py
  src/monitoring/sentinel/alert_manager.py
  src/monitoring/sentinel/runner.py
  src/monitoring/sentinel/telegram_alerter.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team

docs(sentinel): Add comprehensive Telegram alerting documentation
  src/monitoring/sentinel/README_TELEGRAM.md
Owners: @credentum/docs-team, @credentum/platform-team
