Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

fix: Add comprehensive edge case tests and refactor config duplication
  src/monitoring/sentinel/models.py
  tests/monitoring/sentinel/test_models.py
  tests/monitoring/test_config_parity.py
Owners: @credentum/platform-team, @credentum/qa-team

hotfix: Add Neo4j schema initialization to deploy-environment.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(CRITICAL): Change SENTINEL_TARGET_URL to TARGET_BASE_URL in docker-compose.yml
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Deploy voice-bot service in automated deployment
  .github/workflows/deploy-dev.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix: Add SSL generation and voice-bot deployment to deploy-environment.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

feat: Add REST API compatibility layer for sentinel monitoring
  src/mcp_server/main.py
  src/mcp_server/rest_compatibility.py
Owners: @credentum/platform-team

fix: Critical fixes for voice-bot deployment failures
  .github/workflows/deploy-dev.yml
  docker-compose.voice.yml
  dockerfiles/Dockerfile.livekit
Owners: @credentum/devops, @credentum/platform-team

fix: Add SHA256 digest pinning and configurable SSL paths
  docker-compose.voice.yml
  dockerfiles/Dockerfile.livekit
Owners: @credentum/devops, @credentum/platform-team

fix: Add linux/amd64 platform specification for LiveKit
  docker-compose.voice.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Address all security and quality issues in REST compatibility layer
  src/mcp_server/rest_compatibility.py
  tests/mcp_server/test_rest_compatibility.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: Use --platform flag in Dockerfile FROM instruction
  docker-compose.voice.yml
  dockerfiles/Dockerfile.livekit
Owners: @credentum/devops, @credentum/platform-team

fix: Remove SHA256 digest to allow platform-specific pull
  dockerfiles/Dockerfile.livekit
Owners: @credentum/devops, @credentum/platform-team

fix: Improve LiveKit health check and add default API keys
  docker-compose.voice.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Configure LiveKit for Docker environment per official docs
  docker-compose.voice.yml
  docker/livekit/config.yaml
Owners: @credentum/devops, @credentum/platform-team

fix: Add required space in LIVEKIT_KEYS format to prevent crash loop
  docker-compose.voice.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Quote LIVEKIT_KEYS to prevent YAML parsing as map
  docker-compose.voice.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Automate SSL certificate permissions for voice-bot container
  docker-compose.voice.yml
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix: Add public LiveKit URL for browser client connections
  docker-compose.voice.yml
  voice-bot/app/config.py
  voice-bot/app/main.py
  voice-bot/app/voice_handler.py
Owners: @credentum/devops, @credentum/platform-team

fix: Correct EMBEDDING_DIM default from 768 to 384 for v1.0 compliance
  .env.example
  .env.production.template
  docker-compose.yml
  docs/deployment/POST_PR170_SETUP.md
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/devops, @credentum/platform-team, @credentum/docs-team

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

fix: restore backup/restore calls in deploy-dev.sh
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Resolve sentinel network isolation by enforcing consistent Docker Compose project naming
  docker-compose.sentinel.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix: Add bash prefix to backup-restore-integration.sh calls and make script executable
  scripts/backup-restore-integration.sh
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/senior-engineers, @credentum/platform-lead

fix: Add bash prefix to backup-restore-integration.sh calls to fix permission denied error
  scripts/backup-restore-integration.sh
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/senior-engineers, @credentum/platform-lead

fix: Backup and restore Redis AOF files to prevent data loss on deployment
  scripts/backup-restore-integration.sh
Owners: @credentum/devops, @credentum/senior-engineers

fix: Force complete service recreation by removing old networks and containers
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Add explicit network names to prevent Docker Compose from creating duplicate networks
  docker-compose.yml
Owners: @credentum/devops, @credentum/platform-team

fix: Fix Qdrant collection name mismatch causing 404 errors
  .env.example
  config/.ctxrc.docker.yaml
  config/.ctxrc.hetzner.yaml
  config/.ctxrc.yaml
  config/production_locked_config.yaml
  docker-compose.yml
  src/backends/vector_backend.py
  src/storage/qdrant_client.py
  tests/test_collection_name_consistency.py
Owners: @credentum/security-team, @credentum/platform-lead, @credentum/platform-team, @credentum/senior-engineers, @credentum/devops, @credentum/qa-team

fix: Complete collection name consistency across all remaining files
  src/mcp_server/server.py
  src/storage/hash_diff_embedder.py
Owners: @credentum/platform-team

fix: Add QDRANT_COLLECTION_NAME to deploy-dev.sh .env generation
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-lead

fix: Address code review blocking issues and warnings
  config/.ctxrc.docker.yaml
  config/.ctxrc.hetzner.yaml
  config/.ctxrc.yaml
  src/health/endpoints.py
  src/storage/qdrant_client.py
Owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/sre

fix: Complete PR #237 network fix by updating docker-compose.voice.yml
  docker-compose.voice.yml
Owners: @credentum/devops, @credentum/platform-team

fix(sentinel): Update sentinel checks to match current MCP API format
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s4_metrics_wiring.py
Owners: @credentum/platform-team

test(sentinel): Update test_metrics_wiring.py to match PR #240 changes
  tests/monitoring/test_metrics_wiring.py
Owners: @credentum/qa-team

fix(sentinel): Fix 422 validation errors in S2 and S9 checks
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/platform-team

fix(sentinel): Fix 422 validation errors in S2 and S9 checks
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/platform-team

fix: Add with_vectors=True to Qdrant retrieve() for vector verification
  src/storage/qdrant_client.py
Owners: @credentum/platform-team

fix(sentinel): Require dedicated SENTINEL_API_KEY, remove API_KEY_MCP fallback
  docker-compose.yml
  src/monitoring/sentinel/base_check.py
Owners: @credentum/devops, @credentum/platform-team

fix: Fix vector search type mismatch - dict access instead of attribute access
  src/mcp_server/main.py
Owners: @credentum/platform-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
