Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team

fix(critical): Fix Python syntax error in lazy logging conversion
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
Owners: @credentum/platform-team

hotfix: Fix critical Python syntax error in S3 diagnostic logging
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
Owners: @credentum/platform-team

fix(s5): Update security negatives check to account for localhost bypass policy
  src/monitoring/sentinel/checks/s5_security_negatives.py
Owners: @credentum/platform-team

fix(s5): Update security negatives check to account for localhost bypass policy
  src/monitoring/sentinel/checks/s5_security_negatives.py
Owners: @credentum/platform-team

fix: Exempt Sentinel API key from rate limiting
  src/api/rate_limit_middleware.py
  tests/api/test_rate_limit_exemption.py
Owners: @credentum/platform-team, @credentum/qa-team

optimize: Reduce Sentinel query load from 48 to 18 queries/cycle (62% reduction)
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  src/monitoring/sentinel/checks/s3_paraphrase_robustness.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/platform-team

fix(sentinel): Address code review issues for PR #327
  .github/workflows/sentinel-comprehensive-tests.yml
  docs/SENTINEL_MIGRATION_GUIDE.md
  src/monitoring/sentinel/checks/s10_content_pipeline.py
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
  tests/monitoring/test_s10_deprecation.py
  tests/monitoring/test_s3_optimization.py
  tests/monitoring/test_s9_deprecation.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team, @credentum/qa-team

fix(sentinel): Resolve code review blocking issues in PR #327
  .github/workflows/sentinel-comprehensive-tests.yml
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  tests/monitoring/test_s2_golden_fact_recall.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/qa-team

docs(sentinel): Fix query count documentation inconsistencies
  docs/SENTINEL_MIGRATION_GUIDE.md
  src/monitoring/sentinel/checks/s2_golden_fact_recall.py
  src/monitoring/sentinel/checks/s9_graph_intent.py
Owners: @credentum/docs-team, @credentum/platform-team

fix(ci): Remove deprecated S9/S10 jobs from comprehensive test workflow
  .github/workflows/sentinel-comprehensive-tests.yml
  docs/SENTINEL_MIGRATION_GUIDE.md
Owners: @credentum/devops, @credentum/platform-team, @credentum/docs-team

fix: correct redis_client parameter in delete/forget endpoints
  src/mcp_server/main.py
Owners: @credentum/platform-team

fix(ci): Remove Qdrant health check that requires curl
  .github/workflows/sentinel-comprehensive-tests.yml
Owners: @credentum/devops, @credentum/platform-team

test: add comprehensive unit tests for redis_client parameter passing
  tests/mcp_server/test_delete_endpoints_redis_client.py
Owners: @credentum/qa-team

fix(ci): Enable test mode for MCP server in CI/CD environment
  src/mcp_server/main.py
Owners: @credentum/platform-team

security: Upgrade vulnerable packages in Docker base images
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.api
  dockerfiles/Dockerfile.sentinel
Owners: @credentum/devops, @credentum/platform-team

fix(tests): Fix S3 paraphrase robustness test configuration
  tests/monitoring/test_paraphrase_robustness.py
Owners: @credentum/qa-team

fix(ci): Only fail CVE scan on vulnerabilities with fixes available
  .github/workflows/cve-scan.yml
Owners: @credentum/devops, @credentum/platform-team

fix(tests): Update all S3 test assertions to match optimized implementation
  tests/monitoring/test_paraphrase_robustness.py
Owners: @credentum/qa-team

fix(tests): Fix S3 test mocks and config to match implementation
  tests/monitoring/test_paraphrase_robustness.py
Owners: @credentum/qa-team

fix: Fix S3 paraphrase robustness test mocks for proper async context managers
  tests/monitoring/test_paraphrase_robustness.py
Owners: @credentum/qa-team

fix: Exempt health endpoints and Sentinel from rate limiting
  src/api/rate_limit_middleware.py
Owners: @credentum/platform-team

feat: Optimize Docker deployments with GHCR registry (14x faster)
  .github/workflows/cve-scan.yml
  .github/workflows/deploy-dev.yml
  docker-compose.override.yml.example
  docker-compose.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

fix: Use external volumes to preserve data across deployments
  docker-compose.override.yml.example
  docker-compose.yml
Owners: @credentum/platform-team, @credentum/devops

refactor: Remove unnecessary override file, simplify to one docker-compose.yml
  docker-compose.override.yml.example
  docker-compose.yml
Owners: @credentum/platform-team, @credentum/devops

fix: Address blocking deployment issues
  docker-compose.yml
  dockerfiles/Dockerfile.sentinel
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

feat: Add GHCR testing for feature branches and image verification
  .github/workflows/cve-scan.yml
  scripts/deploy-dev.sh
Owners: @credentum/devops, @credentum/platform-team, @credentum/platform-lead

hotfix: Make deploy-dev wait for CVE scan to complete
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

docs: update README with Sprint 13 features and corrections
  README.md
Owners: @credentum/docs-team, @credentum/platform-team

feat: add voice-bot API key configuration
  README.md
  docker-compose.yml
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/devops

hotfix: Remove CVE scan blocking deployment (restore parallel execution)
  .github/workflows/deploy-dev.yml
Owners: @credentum/devops, @credentum/platform-team

fix(backends): correct field names in graph backend search
  src/backends/graph_backend.py
  tests/integration/test_retrieval_e2e.sh
Owners: @credentum/platform-team, @credentum/qa-team

fix(backends): address code review - add tests, fix indexes, case-insensitive search
  src/backends/graph_backend.py
  tests/backends/test_graph_backend.py
  tests/integration/test_graph_retrieval.py
  tests/integration/test_retrieval_e2e.sh
Owners: @credentum/platform-team, @credentum/qa-team

feat(backends): add multi-word search support to graph backend
  src/backends/graph_backend.py
  tests/backends/test_graph_backend.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: disable empty text backend to prevent interference with hybrid search
  src/mcp_server/main.py
Owners: @credentum/platform-team

feat: add searchable_text field for dynamic property indexing (PR #339)
  src/mcp_server/main.py
  src/utils/text_generation.py
  tests/utils/test_text_generation.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: address code review issues
  src/mcp_server/main.py
  src/utils/text_generation.py
Owners: @credentum/platform-team

feat: enable search on searchable_text field (PR #340)
  src/backends/graph_backend.py
  tests/backends/test_graph_backend.py
Owners: @credentum/platform-team, @credentum/qa-team

fix(deployment): prevent Docker layer caching in deploy-environment.sh
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deployment): use pre-built GHCR images instead of --no-cache build
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead

fix(deployment): fix error handling for GHCR image pull failures
  scripts/deploy-environment.sh
Owners: @credentum/devops, @credentum/platform-lead
