Repository credentum/veris-memory, changes with the owners that CODEOWNERS names for each.
All owners: @credentum/platform-team, @credentum/senior-engineers, @credentum/platform-lead, @credentum/devops, @credentum/sre, @credentum/database-team, @credentum/qa-team, @credentum/ml-team, @credentum/docs-team, @credentum/security-team

feat: enable containerized CI and re-enable test coverage checks
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

fix: reduce coverage baseline to 30% for current state
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

fix: add bash shell specification for containerized workflow
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

fix: add missing tools to CI container (unzip, bash, bc, bun)
  dockerfiles/Dockerfile.ci
Owners: @credentum/devops, @credentum/platform-team

fix: add additional system utilities to CI container
  dockerfiles/Dockerfile.ci
Owners: @credentum/devops, @credentum/platform-team

fix: temporarily use pr-135 container tag with all fixes
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

fix: add pytest-xdist and pytest-timeout to CI container
  dockerfiles/Dockerfile.ci
Owners: @credentum/devops, @credentum/platform-team

fix: revert to using latest container tag
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

test: Add CI container integration tests and documentation
  CI_CONTAINER_INTEGRATION.md
  tests/test_ci_container_integration.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

fix: Add Git safe directory configuration for Claude Code Review
  dockerfiles/Dockerfile.ci
Owners: @credentum/devops, @credentum/platform-team

fix: Use PR-specific container tag in Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

Revert "fix: Use PR-specific container tag in Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

test: Verify Claude Code Review workflow with fixed CI container
  WORKFLOW_TEST_RESULTS.md
  tests/test_workflow_verification.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

fix: Add explicit Git safe directory for GitHub Actions workspace
  dockerfiles/Dockerfile.ci
Owners: @credentum/devops, @credentum/platform-team

test: Final verification of Claude Code Review workflow fix
  tests/test_claude_workflow_success.py
Owners: @credentum/qa-team

fix: Comprehensive solution for Git safe directory in CI container
  .github/workflows/claude-code-review.yml
  dockerfiles/Dockerfile.ci
Owners: @credentum/devops, @credentum/platform-team

test: Verify Claude Code Review workflow success after fixes
  CLAUDE_WORKFLOW_VERIFICATION.md
  tests/test_workflow_final_success.py
Owners: @credentum/docs-team, @credentum/platform-team, @credentum/qa-team

fix: improve infrastructure PR detection using file changes instead of branch names
  .github/workflows/claude-code-review.yml
Owners: @credentum/devops, @credentum/platform-team

test: add test to verify coverage detection fix works
  tests/test_coverage_detection_working.py
Owners: @credentum/qa-team

fix: resolve CI test execution issues and add parallel execution
  dockerfiles/Dockerfile.ci
  requirements-dev.txt
  requirements.txt
  scripts/run-tests.sh
  src/monitoring/sentinel/runner.py
  tests/integration/test_sentinel_integration.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/devops, @credentum/platform-team, @credentum/senior-engineers, @credentum/qa-team

test: add test to verify CI coverage calculation works
  tests/test_ci_coverage_verification.py
Owners: @credentum/qa-team

test: Add comprehensive test coverage and fix logging inconsistencies
  src/storage/qdrant_client.py
  tests/core/test_retrieval_core.py
  tests/mcp_server/test_unified_backend_initialization.py
  tests/storage/test_qdrant_storage_verification.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Implement Sprint 12 Phase 0-1 vector storage fixes
  src/core/retrieval_core.py
  src/mcp_server/main.py
  src/storage/qdrant_client.py
Owners: @credentum/platform-team

fix: resolve remaining test import issues for PR 132
  tests/integration/test_sentinel_integration.py
  tests/monitoring/test_veris_sentinel.py
Owners: @credentum/qa-team

fix: Address security, performance, and compatibility issues
  contracts/retrieve_context.json
  dockerfiles/Dockerfile.qdrant
  src/mcp_server/main.py
  src/storage/qdrant_client.py
  tests/integration/test_mcp_api_parity.py
Owners: @credentum/platform-team, @credentum/devops, @credentum/qa-team

feat: Sprint 12 Phase 2 - BM25 Text Search and Advanced Filtering
  contracts/retrieve_context.json
  src/backends/text_backend.py
  src/core/query_dispatcher.py
  src/filters/advanced_filters.py
  src/interfaces/memory_result.py
  tests/backends/test_text_backend.py
  tests/filters/test_advanced_filters.py
  tests/integration/test_text_search_integration.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: resolve critical security and test infrastructure issues
  fix_test_imports.py
  src/security/cypher_validator.py
  tests/monitoring/test_ascii_renderer.py
  tests/test_neo4j_client_business_logic.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Sprint 12 Phase 3 - Data Migration and Enhanced Multi-Backend Storage
  src/migration/data_migration.py
  src/storage/enhanced_storage.py
  src/tools/migration_cli.py
  tests/migration/test_data_migration.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: address security and code quality issues in migration system
  src/migration/data_migration.py
  src/tools/migration_cli.py
Owners: @credentum/platform-team

Refine security patterns and add comprehensive tests
  src/core/intent_classifier.py
  src/security/cypher_validator.py
  tests/monitoring/test_ascii_renderer.py
  tests/test_cypher_validator_comprehensive.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: add comprehensive security and reliability improvements
  src/migration/data_migration.py
  src/storage/enhanced_storage.py
Owners: @credentum/platform-team

fix: resolve import errors, test failures, and code quality issues
  src/migration/data_migration.py
  src/storage/enhanced_storage.py
  src/tools/migration_cli.py
Owners: @credentum/platform-team

Fix critical 0% coverage issue in CI
  .coveragerc
  scripts/run-tests.sh
Owners: @credentum/platform-team, @credentum/devops, @credentum/senior-engineers

Restore and fix .coveragerc for parallel test execution
  .coveragerc
Owners: @credentum/platform-team

feat: add MCP compatibility, comprehensive testing, and enhanced configuration
  src/mcp_server/migration_tools.py
  src/migration/data_migration.py
  src/storage/enhanced_storage.py
  src/tools/migration_cli.py
  tests/migration/test_data_migration.py
  tests/migration/test_error_sanitization.py
Owners: @credentum/platform-team, @credentum/qa-team

Fix critical NameError: 'Any' is not defined in tests
  src/core/intent_classifier.py
Owners: @credentum/platform-team

Fix Claude Code Review workflow: Add missing procps package to CI container
  dockerfiles/Dockerfile.ci
Owners: @credentum/devops, @credentum/platform-team

security: Enhanced migration system security and performance
  src/mcp_server/migration_tools.py
  src/migration/data_migration.py
  tests/migration/test_error_sanitization.py
Owners: @credentum/platform-team, @credentum/qa-team

fix: resolve multiple test failure categories for improved CI reliability
  coverage.json
  src/api/middleware.py
  tests/api/test_main.py
  tests/api/test_middleware.py
Owners: @credentum/platform-team, @credentum/qa-team

feat: Complete migration system enhancements - security, performance & validation
  context/mcp_contracts/backfill_data_tool.json
  context/mcp_contracts/get_migration_status_tool.json
  context/mcp_contracts/test_search_tool.json
  context/mcp_contracts/test_storage_tool.json
  src/migration/data_migration.py
  tests/mcp_server/test_mcp_migration_tools.py
Owners: @credentum/platform-team, @credentum/qa-team

CODEOWNERS:

# CODEOWNERS file for agent-context-template
# These owners will be requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @credentum/platform-team

# Production configuration files - require senior review
production_locked_config.yaml @credentum/senior-engineers @credentum/platform-lead
.ctxrc.yaml @credentum/senior-engineers

# CI/CD workflows - require DevOps review
.github/workflows/ @credentum/devops @credentum/platform-team
.github/actions/ @credentum/devops

# Docker and deployment configs - require DevOps review
Dockerfile* @credentum/devops @credentum/platform-team
docker-compose*.yml @credentum/devops @credentum/platform-team
k8s/ @credentum/devops @credentum/sre

# Critical system components - require senior review
src/health/ @credentum/senior-engineers @credentum/sre
src/neo4j/ @credentum/database-team @credentum/senior-engineers
ops/bootstrap/ @credentum/devops @credentum/senior-engineers
ops/verify/ @credentum/qa-team @credentum/senior-engineers

# Evaluation and testing - require QA review
eval/ @credentum/qa-team @credentum/ml-team
tests/ @credentum/qa-team
ops/eval/ @credentum/qa-team @credentum/ml-team
ops/smoke/ @credentum/qa-team @credentum/devops

# Scripts - require careful review
scripts/*.sh @credentum/devops @credentum/senior-engineers
scripts/recovery-*.sh @credentum/sre @credentum/platform-lead
scripts/deploy*.sh @credentum/devops @credentum/platform-lead

# Documentation - lighter review requirements
*.md @credentum/docs-team @credentum/platform-team
docs/ @credentum/docs-team

# Security-sensitive files
.env* @credentum/security-team @credentum/platform-lead
*secret* @credentum/security-team @credentum/platform-lead
*token* @credentum/security-team @credentum/platform-lead
*password* @credentum/security-team @credentum/platform-lead

# Manifest and configuration hygiene
manifests/ @credentum/platform-team @credentum/senior-engineers
configs/ @credentum/platform-team
